<!--
TODO move to main js adding here to avoid confusion
-->
<script>
  
  $(function() {
    $( "#datepicker-end" ).datepicker({
      showButtonPanel: true
    });
  });

  $(function() {
    $( "#datepicker-start" ).datepicker({
      showButtonPanel: true
    });
  });
  
  $(function() {
    $('#training-form :checkbox').change(function() {
      var $this = $(this);
      if ($this.is(':checked')) {
        $( "#datepicker-end" ).datepicker( "option", "disabled", true );
      } else {
        $( "#datepicker-end" ).datepicker( "option", "disabled", false );
      }
  });

  $('#btn-cancel-t').click(function(event){
      event.preventDefault();
       $('div#trainings-div').toggle();
  });

});
</script>

<%= form_tag({controller: "trainings", action: "index"}, method: "post", class: "nifty_form", id:"training-form") do  %>
   <input type="textfield" class="form-control input-sm" name="training[name]" placeholder="What Training did you get?"><br>
   <input type="textfield" class="form-control input-sm" name="training[company_name]" placeholder="Where did you get it?"><br>
   <p>When did you start?  </p><input name="training[start_date]" class="form-control input-sm " type="date textfield" id="datepicker-start" />
   <p>When did it end? </p><input name="training[end_date]" type="date textfield" id="datepicker-end"/><br />
   <div class="checkbox">
    <label><input type="checkbox">Ongoing</label>
  </div>
    <%= submit_tag :Save, class: "btn btn-success"%>
    <button type="submit" id="btn-cancel-t" class="btn btn-primary">Cancel</button>
<% end %>
