<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @training.name %>
</p>

<p>
  <b>Start date:</b>
  <%= @training.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @training.end_date %>
</p>

<p>
  <b>Company name:</b>
  <%= @training.company_name %>
</p>

<p>
  <b>Description:</b>
  <%= @training.description %>
</p>

<p>
  <b>Details:</b>
  <%= @training.details %>
</p>

<p>
  <b>Other details:</b>
  <%= @training.other_details %>
</p>


<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>
