<h1>Listing adjectives</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @adjectives.each do |adjective| %>
  <tr>
    <td><%= link_to 'Show', adjective %></td>
    <td><%= link_to 'Edit', edit_adjective_path(adjective) %></td>
    <td><%= link_to 'Destroy', adjective, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Adjective', new_adjective_path %>
