<%= form_for(@competition_video_comment) do |f| %>
  <% if @competition_video_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competition_video_comment.errors.count, "error") %> prohibited this competition_video_comment from being saved:</h2>

      <ul>
      <% @competition_video_comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :payload %><br />
    <%= f.text_field :payload %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :competition_id %><br />
    <%= f.number_field :competition_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_field :message %>
  </div>
  <div class="field">
    <%= f.label :nominee_id %><br />
    <%= f.number_field :nominee_id %>
  </div>
  <div class="field">
    <%= f.label :details %><br />
    <%= f.text_field :details %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :approved %><br />
    <%= f.check_box :approved %>
  </div>
  <div class="field">
    <%= f.label :is_private %><br />
    <%= f.text_field :is_private %>
  </div>
  <div class="field">
    <%= f.label :has_video %><br />
    <%= f.check_box :has_video %>
  </div>
  <div class="field">
    <%= f.label :video_id %><br />
    <%= f.number_field :video_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
