<h1>Listing competition_video_comments</h1>

<table>
  <tr>
    <th>Payload</th>
    <th>Name</th>
    <th>Competition</th>
    <th>User</th>
    <th>Message</th>
    <th>Nominee</th>
    <th>Details</th>
    <th>Description</th>
    <th>Approved</th>
    <th>Is private</th>
    <th>Has video</th>
    <th>Video</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @competition_video_comments.each do |competition_video_comment| %>
  <tr>
    <td><%= competition_video_comment.payload %></td>
    <td><%= competition_video_comment.name %></td>
    <td><%= competition_video_comment.competition_id %></td>
    <td><%= competition_video_comment.user_id %></td>
    <td><%= competition_video_comment.message %></td>
    <td><%= competition_video_comment.nominee_id %></td>
    <td><%= competition_video_comment.details %></td>
    <td><%= competition_video_comment.description %></td>
    <td><%= competition_video_comment.approved %></td>
    <td><%= competition_video_comment.is_private %></td>
    <td><%= competition_video_comment.has_video %></td>
    <td><%= competition_video_comment.video_id %></td>
    <td><%= link_to 'Show', competition_video_comment %></td>
    <td><%= link_to 'Edit', edit_competition_video_comment_path(competition_video_comment) %></td>
    <td><%= link_to 'Destroy', competition_video_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Competition video comment', new_competition_video_comment_path %>
