<p id="notice"><%= notice %></p>

<p>
  <b>Payload:</b>
  <%= @competition_video_comment.payload %>
</p>

<p>
  <b>Name:</b>
  <%= @competition_video_comment.name %>
</p>

<p>
  <b>Competition:</b>
  <%= @competition_video_comment.competition_id %>
</p>

<p>
  <b>User:</b>
  <%= @competition_video_comment.user_id %>
</p>

<p>
  <b>Message:</b>
  <%= @competition_video_comment.message %>
</p>

<p>
  <b>Nominee:</b>
  <%= @competition_video_comment.nominee_id %>
</p>

<p>
  <b>Details:</b>
  <%= @competition_video_comment.details %>
</p>

<p>
  <b>Description:</b>
  <%= @competition_video_comment.description %>
</p>

<p>
  <b>Approved:</b>
  <%= @competition_video_comment.approved %>
</p>

<p>
  <b>Is private:</b>
  <%= @competition_video_comment.is_private %>
</p>

<p>
  <b>Has video:</b>
  <%= @competition_video_comment.has_video %>
</p>

<p>
  <b>Video:</b>
  <%= @competition_video_comment.video_id %>
</p>


<%= link_to 'Edit', edit_competition_video_comment_path(@competition_video_comment) %> |
<%= link_to 'Back', competition_video_comments_path %>
