<h1>Listing smsgateways</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @smsgateways.each do |smsgateway| %>
  <tr>
    <td><%= link_to 'Show', smsgateway %></td>
    <td><%= link_to 'Edit', edit_smsgateway_path(smsgateway) %></td>
    <td><%= link_to 'Destroy', smsgateway, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Smsgateway', new_smsgateway_path %>
