<div class="row" style="margin-top:80px">
    <div class="col-md-12">
        <% @results.each do |result| %>
                <div class="col-sm-4 col-md-4 col-lg-4" style="height:550px;overflow:hidden;">
                    <div class="thumbnail">
                        <center>
                        <% if result.video %>
                            <div id="media">
                                <%= videojs_rails sources: { mp4: get_video_for_result(result)}, setup: "{}", controls: false, width:"350", height:"350" %>
                            </div>
                        </center>
                            <div class="caption">
                                <h3><a href="#"><%= result.created_to_user["name"] %></a></h3>
                                <h3><%= result.description %></h3>
                                <h3><%=  %></h3>
                            </div>
                        <% end %>
                    </div>
                </div>
        <% end %>
    </div>
</div>
