<h1>Listing competition_qualifications</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @competition_qualifications.each do |competition_qualification| %>
  <tr>
    <td><%= link_to 'Show', competition_qualification %></td>
    <td><%= link_to 'Edit', edit_competition_qualification_path(competition_qualification) %></td>
    <td><%= link_to 'Destroy', competition_qualification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Competition qualification', new_competition_qualification_path %>
