<div class="container-fluid">
  <div class="col-md-8 col-md-offset-2">
  </div>

  <div class="row">
    <center>
      <div class=".col-xs-6 .col-md-4"> </div>
      <div class=".col-xs-6 .col-md-4">
      <% @results.each do |nominee| %>
          <% nominee[:video][0].each do |key, value| %>
            <% if key == :payload_mobile_url %>
            <a href="<%= competition_nominee_url(nominee.competition_id, nominee.id) %>">
              <video width="300" height="300" controls>
                <source src="<%= value if key == :payload_mobile_url %>" type="video/mp4">
              </video>
            </a>
            <% end %>    
          <% end %>
        <% end %>
      </div>
      <div class=".col-xs-6 .col-md-4"> </div>
    </center>
  </div>
</div>
