<div class="container-fluid">
	<div class="col-md-8 col-md-offset-2">
        <ol class="breadcrumb">
          <li><a href="<%= competitions_url %>">competitions</a></li>
          <li><a href="<%= competition_url(@nominee.competition_id) %>"><%= @competition[0][:title] %></a></li>
          <li class="active"><%= @user[0].name %></li>
        </ol>
    </div>

	<div class="row">
		<center>
			<div class=".col-xs-6 .col-md-4"> </div>
			<div class=".col-xs-6 .col-md-4">
            <video width="300" height="300" controls>
                <source src="<%= @nominee[:payload_mobile_url] %>" type="video/mp4">
            </video><br \>
            <div class="fb-share-button" data-href="<%= competition_nominee_url(@competition[0].id) %>" data-layout="button" style="width:200px"></div>
			</div>
			<div class=".col-xs-6 .col-md-4"> </div>
		</center>
	</div>
</div>
