<div class="col-md-6 col-md-offset-3 pRelative" id="login_form_wrap">
    <div class="br8 whitePanel overflowHide mt50 mt10Phone">
        <div class="row">
            <div class="col-md-12">
                <div class="p30 pt25">
                    <h1 class="mb20">Sign In</h1>
                    <div class="" id="signInForm">
                        <div class="user_create_form_min_outer clear_back">
                            <form novalidate="novalidate" action="/login" class="mb12 hiddenLabels" id="login_form" method="post">

                                <div class="clearfix">

                                    <div class="btn-group mb20 clearfix">

                                        <label class="btn btn-small lh35 w30p fNormal font12 w50pPhone active" data-target-input="#hiring_manager_realm" id="members_btn">

                                            <i class="fa fa-lg fa-check-circle greenText"></i> Employers
                                        </label>


                                        <label class="btn btn-small lh35 w30p fNormal font12 w50pPhone" data-target-input="#job_seeker_realm" id="candidates_btn">

                                            <i class="fa fa-lg fa-circle-o lightGrayText"></i> Job Seekers
                                        </label>


                                    </div>


                                </div>


                                <div class="dNone">

                                    <div style="display: block;" class="radio label">
                                        <label for="hiring_manager_realm">Employer</label>

                                        <label for="hiring_manager_realm">Employer</label>
                                        <input name="realm" value="members" checked="checked" id="hiring_manager_realm" type="radio">
                                    </div>

                                    <div style="display: block;" class="radio label">
                                        <label for="job_seeker_realm">Job Seeker</label>

                                        <label for="job_seeker_realm">Job Seeker</label>
                                        <input checked="checked" name="realm" value="candidates" id="job_seeker_realm" type="radio">
                                    </div>

                                </div>


                                <div style="display: block;" class="text label">
                                    <label>Email Address:</label>

                                    <label>Email Address:</label>
                                    <input name="email" class="p5Phone w95pPhone mb10Phone email_hint" placeholder="Your Email Address" type="text">
                                </div>

                                <div style="display: none;" class="email_hint_text" id="hint">

                                </div>


                                <div style="display: block;" class="password label">
                                    <label>Password:</label>

                                    <label>Password:</label>
                                    <input name="password" class="p5Phone w95pPhone mb10Phone" placeholder="Your Password" type="password">
                                </div>

                                <fieldset class="checkboxgroup">
                                    <span>
</span>
                                </fieldset>

                                <input name="next_url" type="hidden">

                                <input name="needed" type="hidden">

                                <input value="aded3877-aa07-483e-a6c5-155285ffcf48" name="elqCustomerGUID" type="hidden">

                                <div class="submit">
                                    <input name="submitted" value="Sign In" class="btn btn-primary round w100pPhone" type="submit">
                                </div>

                                <div class="cryptorequesttoken">
                                    <input name="_token" value="U2FsdGVkX1964zAYckBSHAzSngZ6YmZd3LcvCMeA6xNb5sJwtOyRyYEqR3EVrMB0Dbz2gJ5Zo0PeVLh7t+cmHry8qpAtDX8e" type="hidden">
                                </div>

                            </form>





                        </div>
                    </div>
                </div>
            </div>
            <!-- end span -->
        </div>
        <!-- end row -->
        <div class="borderTop lightGrayPanel bbw0 brw0 blw0 brBottom br8 tCenter centerContent p15">
            <p class="mb0 tCenter"><a href="/login/forgot-password" class="grayText">Forgot Password?</a>
            </p>
        </div>
    </div>
    <!-- end whitepanel -->
    <p class="tCenter mt20 grayText lh30"><a href="/post-a-job" class="grayText dBlockPhone">Post a Job</a><span class="sep dNonePhone">|</span><a href="/" class="grayText dBlockPhone">Employer Sign Up</a><span class="sep dNonePhone">|</span><a href="/contact/create" class="grayText dBlockPhone">Job Seeker Sign Up</a><span class="sep dNonePhone">|</span><a href="/privacy" class="grayText dBlockPhone">Privacy Policy</a>
    </p>
    <!-- .Truste -->
    <div id="5774217e-ae52-4c5f-86c9-96fbdea1db07" class="centerContent">
        <script type="text/javascript" src="//privacy-policy.truste.com/privacy-seal/ZipRecruiter,-Inc-/asc?rid=5774217e-ae52-4c5f-86c9-96fbdea1db07"></script>
        <a href="//privacy.truste.com/privacy-seal/ZipRecruiter,-Inc-/validation?rid=ea55b827-615a-4d5a-8edd-1c47f0d53d24" title="TRUSTe online privacy certification" target="_blank">
            <img style="display: inline;" data-original="//privacy-policy.truste.com/privacy-seal/ZipRecruiter,-Inc-/seal?rid=ea55b827-615a-4d5a-8edd-1c47f0d53d24" src="//privacy-policy.truste.com/privacy-seal/ZipRecruiter,-Inc-/seal?rid=ea55b827-615a-4d5a-8edd-1c47f0d53d24" class="lazy" alt="TRUSTe online privacy certification">
        </a>
    </div>
    <!-- end truste -->
    <div id="teconsent" class="centerContent p5" style="width:152px;">
        <script src="https://consent.truste.com/notice?domain=ziprecruiter.com&amp;c=teconsent&amp;js=bb&amp;noticeType=bb&amp;fade=10000"></script>
    </div>
</div>