
  <div class="row">
  <div class="col-md-12">
    <%= form_for(resource, :as => resource_name,:html => { :multipart => true}, :url => registration_path(resource_name)) do |f| %>
      <div class="form-group">
        <div class="container-fluid">
          <div class="row">
              <div class="well">
              <p>Add photo</p>
             <%= f.file_field :avatar, as: :file %>
           </div>
            </br>
            
             <%= f.hidden_field :employer, :value => 1 %>
            <div class="col-sm-6" style="padding-left:0px; padding-right:2px;">
              <%= f.text_field :first_name, :class => 'form-control',:type => 'textfield', :autofocus => true, :placeholder => 'First Name'%></br>
            </div>

            <div class="col-sm-6" style="padding-right:0px; padding-left:2px">
              <%= f.text_field :last_name, :class => 'form-control',:type => 'textfield', :autofocus => true, :placeholder => 'Last Name'%></br>
            </div>
            
            <%= f.email_field :email, :class => 'form-control',:type => 'textfield', :placeholder => 'Email'%></br>
            
            <%= f.password_field :password, :class => 'form-control',:type => 'password', :placeholder => 'Password', :autocomplete => "off"%></br>
            
            <%= f.password_field :password_confirmation, :class => 'form-control',:type => 'password', :placeholder => 'Re-type password', :autocomplete => "off"%></br>
            <div>
              <%= f.submit "CREATE ACCOUNT", :class => "btn btn-primary btn-xl page-scroll", :style =>"width:100%"%></br>
            </div>

            <div style="margin-top:18px">
              <p style="color:#969696; text-align:center">By signing up. you agree to the <u>Privacy Policy</u> &</br><u>Terms of Service</u></p>
            </div>

          </div>
        </div>
      </div>
    <% end %>
</div>
</div>