<div class="row">
  <div class="col-md-10">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <div class="form-group">
       
          <div class="container-fluid">

          <%= f.text_field :name, :class => 'form-control',:type => 'textfield', :autofocus => true, :placeholder => 'Name'%></br>
          <%= f.email_field :email, :class => 'form-control',:type => 'textfield', :placeholder => 'Email'%></br>
          </div>
        <!--<%= f.file_field :avatar %> -->
        <div>
          <%= f.submit "SIGN IN", :class => "btn btn-primary btn-xl page-scroll", :style =>"width:80%"%></br>
        </div>
      </div>
    <% end %>
  <div class="col-md-1"></div>
</div>
