<center>
<div class="row" style="color:#FFF">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h2>Update your profile</h2>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
          <div class="circular">
            <%= image_tag current_user.avatar.url(:medium), :class => "profile_image"%>
          </div>
        <%= f.label "Update your profile image" %>
        <%= f.file_field :avatar %>
        <div style="margin-top:30px">
          <%= f.text_field :name, :class => 'form-control input-lg', :autofocus => true%></br>
          <%= f.email_field :email, :class => 'form-control input-lg', :placeholder => 'email'%></br>
          <%= f.text_field :address, :class => 'form-control', :autofocus => true%></br>
          <%= f.text_field :contact_number, :class => 'form-control', :autofocus => true%></br>
          <%= f.password_field :password, :class => 'form-control', :placeholder => 'password', :autocomplete => "off"%></br>
          <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => 'password', :autocomplete => "off"%></br>
          <%= f.password_field :current_password, :class => 'form-control', :placeholder => 'we need your current password to confirm your changes', :autocomplete => "off"%></br>
          </br>
          </div>
        <div>
          <%= f.submit "Update" %></br>
        </div>
        <%= link_to "Back", :back %>
      </div>
    <% end %>
  </div>
  <div class="col-md-3"></div>
</div>
</center>