<div class='page signup'>
    <div class="container">
        <div class='row'>
            <div class="col-sm-12">
                 <h1>Sign Up. Create your free account.</h1>                   
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class='col-md-8 col-md-offset-2'>
            <div class="signup_form text-center">
                <%= devise_error_messages! %>
                <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
                    <div class="form-group">
                        <input type="textfield" name="goals" placeholder='What job are you looking for?' id="job_title" class="form-control">
                    </div>
                    <div class="row">
                        <div class='col-md-6'>
                            <div class="form-group">
                                <%= f.text_field :first_name, :class => 'form-control',:type => 'text', :autofocus => true, :placeholder => 'First Name'%>
                            </div>
                        </div>
                        <div class='col-md-6'>
                            <div class="form-group">
                                <%= f.text_field :last_name, :class => 'form-control',:type => 'text', :autofocus => true, :placeholder => 'Last Name'%>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                         <%= f.email_field :email, :class => 'form-control',:type => 'text', :placeholder => 'Email'%>
                    </div>

                    <div class="form-group">
                         <%= f.password_field :password, :class => 'form-control',:type => 'password', :placeholder => 'Password', :autocomplete => "off"%>
                    </div>
                     <%= f.hidden_field :employer, :value => 1 %>
                    <div class="form-group">
                         <%= f.password_field :password_confirmation, :class => 'form-control',:type => 'password', :placeholder => 'Re-type password', :autocomplete => "off"%>
                    </div>
                     <%= f.submit "Create Account", :class => "btn btn-primary btn-xl page-scroll", :style =>"width:100%"%>
                <% end %>
                <h6 class='text-center'>
                    By signing up, you agree to the <a href='#'>Privacy Policy &amp; Terms of Service</a>
                </h6>
                <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
            </div>
        </div>
    </div>
</div>