
<p>Dear <%= @user.name %>,</p>

<p>Famous offers you thousands of job opennings here and abroad.</p>
<p>Post your video resumes and work documents for free.</p>

<p>Get your dream job here and abroad.</p>

<p>Cheers,</p>

<p>Famous Team</p>