<div class="mdl-list__item">
	<span class="mdl-list__item-primary-content">
		<i class="material-icons mdl-list__item-avatar">person</i>
		<span class="mdl-color-text--grey-600"><b>Bryan Cranston</b> <%= comment.message %></span>
	</span>
</div>
