<%= simple_form_for @comment, remote: true do |f|   %>
  <%= f.input  :message, label: false, :as => :text, :input_html => { class: 'mdl-color-text--grey-600', :rows => 2 , :style => 'width: 100%', :placeholder => "Say something", :id => 'text_area_comment'} %>
<% end %>
 <!--  <div class="mdl-textfield" >
    <textarea id="text_area_comment" name="comment[message]" class="mdl-color-text--grey-600" style="border: 1px solid #eeeeee; width:100%; background-color: #f6f5f6;"  placeholder="Say something"></textarea>
  </div> -->

<script type="text/javascript">
$('#text_area_comment').keypress(function(e) {
      if(e.which == 13) {
           $(this).closest('form').submit();
       }
});

</script>
