<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @comment.user_id %>
</p>

<p>
  <b>Nominee:</b>
  <%= @comment.nominee_id %>
</p>

<p>
  <b>Video:</b>
  <%= @comment.video_id %>
</p>

<p>
  <b>Message:</b>
  <%= @comment.message %>
</p>

<p>
  <b>Details:</b>
  <%= @comment.details %>
</p>

<p>
  <b>Description:</b>
  <%= @comment.description %>
</p>

<p>
  <b>Approved:</b>
  <%= @comment.approved %>
</p>

<p>
  <b>Private:</b>
  <%= @comment.private %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
