<div class="container">
	<div class="row" style="margin-top: 100px; margin-bottom: 100px;">
	<%= simple_form_for(@place_group) do |f| %>
	  <%= f.error_notification %>
		<input id="pac-input" class="controls" type="text" placeholder="Search Box">
		<div id="map" style='width: 100%; height: 500px;'></div>
 		<br> 
 		<%= f.hidden_field :name,as: :string %>
 		<%= f.hidden_field :place_id,as: :string %>
 		<%= f.hidden_field :lat,as: :float %>
 		<%= f.hidden_field :lng,as: :float %>
    <%= f.hidden_field :address,as: :string %>

	  <div class="form-actions">
	    <%= f.button :submit, disabled: true,id: "submit_form" %>
	  </div>
	<% end %>
	</div>
</div>


<style type="text/css">
	  #map {
        height: 400px;
      }

      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }
    </style>
</style>

<script type="text/javascript">

  function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -33.8688, lng: 151.2195},
          zoom: 13,
          mapTypeId: 'roadmap'
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }

          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };

            var marker = new google.maps.Marker({
              map: map,
              icon: icon,
              title: place.name,
              position: place.geometry.location
            });

            // Create a marker for each place.
            markers.push(marker);

            google.maps.event.addListener(marker, 'click', function() {
            	  // alert(place.place_id);
            	  onClickPlace(place);
            	  infowindow.setContent(place.name);
		          infowindow.open(map, this);
       		});

            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });
      }

     function onClickPlace(place){
     	console.log(place.place_id);
     	$("#submit_form").prop('disabled', false);
     	$("#submit_form").prop('value', 'Create ' + place.name + ' place group' );
     	$("#place_group_name").val(place.name);
     	$("#place_group_lat").val(place.geometry.location.lat());
     	$("#place_group_lng").val(place.geometry.location.lng());
     	$("#place_group_place_id").val(place.place_id);
      var address = '';
        if (place.address_components) {
            address = [
                (place.address_components[0] && place.address_components[0].short_name || ''),
                (place.address_components[1] && place.address_components[1].short_name || ''),
                (place.address_components[2] && place.address_components[2].short_name || '')
            ].join(' ');
        }
      $("#place_group_address").val(address);
     }

    $("form").on("keypress", function (e) {
	    if (e.keyCode == 13) {
	        return false;
	    }
	});

</script>

<head>
	     <script async defer src="//maps.google.com/maps/api/js?key=AIzaSyBt6tYMNRiYoT7Gs8RHlBY_THWyKcVHJsw&libraries=places&callback=initAutocomplete"></script>
     <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'</script> 
</head>



