<div class="container">
	<div class="page-content row">
	  <div class="container" style=" margin-bottom: 100px;"">
	  	<div style="margin-top: 100px;">

    	<% place_groups.each do |place_group| %>
		    <div class="col-md-offset-3 col-md-6 col-xs-offset-1 col-xs-10">
		      <div class="panel panel-default">
		        <div class="panel-heading" style="padding: 16px;">

		        <%= link_to place_group_group_members_path(place_group), class: 'no-color' do %> 
		        	<b><%= place_group.name %> Group<br></b>
		        	<%= place_group.address %>
		        <% end %>

		         <span class="pull-right">
		         	<% @group_member = current_user.group_members.where(place_group_id: place_group.id) %>
		         	<% if @group_member.present? %>
		         		<% if @group_member.first.confirmed? %>
		         			<% action_text = 'Leave Group' %>
		         		<% else %>
		         			<% action_text = 'Pending Request' %>
		         		<% end %>
		         		<%= button_to action_text, @group_member.first ,  remote: true ,method: :delete, data: { confirm: 'Are you sure?' } , form: { "id" =>  "place_group_leave-" + place_group.id.to_s } , class: 'hidden' %>
		         		<a id="place_group_leave-" + '<%= place_group.id.to_s %>'" onclick="leaveGroup('<%= place_group.id %>')" class="bar"><%= action_text %></a>
		         	<% else %>
		         		<%= simple_form_for(GroupMember.new, :remote => true, :html => { class: 'hidden' , id: "place_group_join-" + place_group.id.to_s }) do |f| %>
							  <%= f.error_notification %>

							  <div class="form-inputs">
							    <%= f.text_field :place_group_id, :value => place_group.id  %>
							    <%= f.text_field :user_id, :value => current_user.id %>
							  </div>

							  <div class="form-actions">
							    <%= f.button :submit %>
							  </div>
						<% end %>
						<a onclick="joinGroup('<%= place_group.id %>')" class="bar">Join Group</a>
		         	<% end %>
		         </span>
		        </div>
			        <div class="panel-body">
			        	 <b>Videos</b>
			        	 	<div class="photoset-grid-custom" style="visibility: hidden;">
							  <img src="http://imaging.nikon.com/lineup/lens/zoom/normalzoom/af-s_dx_18-140mmf_35-56g_ed_vr/img/sample/sample1_l.jpg" data-highres="http://imgsv.imaging.nikon.com/lineup/lens/zoom/normalzoom/af-s_dx_18-140mmf_35-56g_ed_vr/img/sample/sample1_l.jpg" id="my_link">
							  <img src="http://imaging.nikon.com/lineup/lens/zoom/normalzoom/af-s_dx_18-300mmf_35-56g_ed_vr/img/sample/sample4_l.jpg" data-highres="http://imgsv.imaging.nikon.com/lineup/lens/zoom/normalzoom/af-s_dx_18-300mmf_35-56g_ed_vr/img/sample/sample4_l.jpg">
							  <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS8gZ4mktHf494hvFxItQ55LBAguM7KifaM9AYKbHgOgF8WDjMJ" data-highres="http://www.chrisjanson.com/sites/g/files/g2000005281/f/sample_01.jpg">
							</div>
			        	  <b>Members (<%= place_group.group_members_count %>)</b>
			        	 	<div class="photoset-grid-custom"  style="visibility: hidden;">
							  <img src="http://imaging.nikon.com/lineup/lens/zoom/normalzoom/af-s_dx_18-140mmf_35-56g_ed_vr/img/sample/sample1_l.jpg" data-highres="http://imgsv.imaging.nikon.com/lineup/lens/zoom/normalzoom/af-s_dx_18-140mmf_35-56g_ed_vr/img/sample/sample1_l.jpg">
							  <img src="http://imaging.nikon.com/lineup/lens/zoom/normalzoom/af-s_dx_18-300mmf_35-56g_ed_vr/img/sample/sample4_l.jpg" data-highres="http://imgsv.imaging.nikon.com/lineup/lens/zoom/normalzoom/af-s_dx_18-300mmf_35-56g_ed_vr/img/sample/sample4_l.jpg">
							  <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS8gZ4mktHf494hvFxItQ55LBAguM7KifaM9AYKbHgOgF8WDjMJ" data-highres="http://www.chrisjanson.com/sites/g/files/g2000005281/f/sample_01.jpg">
							</div>
					</div>
			  </div>
			 </div>
		<% end %>
	  </div>
	</div>
	</div>
</div>


<script type="text/javascript">

  function leaveGroup(id) {
    var form_id = "#"+ "place_group_leave-" + id;
    $(form_id).submit();
  }

  function joinGroup(id) {
    var form_id = "#"+ "place_group_join-" + id;
    $(form_id).submit();
  }

</script>

<style type="text/css">

	a.bar {
		padding: 8px;
 		border:1px solid #fdcc52;;  
	}

	a.no-color {
		color: #999
	}

	a:link { 
   		text-decoration:none; 
	}

</style>
