<%=  render :partial => 'place_groups/place_group', :locals => { :place_groups => @place_groups } %>
<script type="text/javascript">
  
  $('.photoset-grid-custom').photosetGrid({
    // Set the gutter between columns and rows
    gutter: '5px',
    // Manually set the grid layout
    layout: '3',
    // Wrap the images in links
    highresLinks: true,
    // Asign a common rel attribute
    rel: 'print-gallery',

    onInit: function(){},
    onComplete: function(){
      // Show the grid after it renders
      $('.photoset-grid-custom').attr('style', '');
    }
  });
</script>


<style type="text/css">
  .panel-default>.panel-heading {
      color: #999;;
      background-color: white;
      border-color: #ddd;
  }

  h5 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
</style>