<!-- Uses a header that contracts as the page scrolls down. -->
<style>
  .demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
    padding-right: 0;
  }

  .demo-card-square.mdl-card {
    width: 100%;
    height: 320px;
  }
  .demo-card-square > .mdl-card__title {
    color: #fff;
    background:
      url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
  }

  .row {
    margin: 20px;
  }

  .col-md-3 {
    padding: 20px;
  }

.demo-card-event.mdl-card {
  width: 100%;
  height: 320px;
  background: #46B6AC;
}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}

</style>
  <div class="container-fluid" >
    <div class="row" style="margin-top: 100px; margin-bottom: 100px;"">
      
      <div class="col-md-3 col-sm-6">
        <div class="demo-card-event mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand"></div>
          <div class="mdl-card__actions mdl-card--border">
            <a href="<%= new_place_group_path %>" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              Create New Group
            </a>
            <div class="mdl-layout-spacer"></div>
            <i class="material-icons">add_circle_outline</i>
          </div>
        </div>
      </div>

     <% @place_groups.each do |place_group| %>
      <div class="col-md-3 col-sm-6" id="place-card-<%= place_group.id %>">
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
          <button id="demo-menu-lower-left-<%= place_group.place_id %>"
                  class="mdl-button mdl-js-button mdl-button--icon" style=" margin: 5px;">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
              for="demo-menu-lower-left-<%= place_group.place_id %>">
            <li class="mdl-menu__item" onclick="getPlaceGroup('<%= place_group.id %>')" >View Group</li>
            <li class="mdl-menu__item" onclick="getGroupMember('<%= place_group.id %>')" >Manage Group</li>
            <li class="mdl-menu__item">Invite Member</li>
            <%= button_to 'Destroy', place_group.group_members.where(user_id: current_user.id).first ,  remote: true ,method: :delete, data: { confirm: 'Are you sure?' } , class: 'hidden' , form: { "id" =>  "place_group-" + place_group.id.to_s } %>
            <li class="mdl-menu__item" onclick="leaveGroup('<%= place_group.id %>')">Leave Group</li>
          </ul>
        <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text"><%= place_group.name %> <br><%= place_group.group_members_count %> members</h2>
        </div>
          <div class="mdl-card__supporting-text">
              <%= place_group.address %> <br/><br/>
              <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">account_box</div>
               <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">video_library</div>
          </div>
        </div>
      </div>
    <% end %>

    </div>
  </div>
<script type="text/javascript">
  
  function getGroupMember(id) {
    window.location = /place_groups/ + id + '/group_members' ;
  }

  function getPlaceGroup(id) {
    window.location = /place_groups/ + id ;
  }

  function leaveGroup(id) {
    var form_id = "#"+ "place_group-" + id;
    $(form_id).submit();
  }



</script>

