<br />
<div class="container">

<div class="page-content row">
  <div class="container" style=" margin-bottom: 100px;"">
  	<div style="margin-top: 100px;">
    <div class="col-md-offset-2 col-md-8 col-xs-10">
      <div class="panel panel-default">
        <div class="panel-heading" style="padding: 16px;"><h5><%= @place_group.name %> Group</h5><%= @place_group.address %>
         <span class="pull-right"><button>Leave Group</button></span></div>

        <div class="panel-body" style="padding: 50px;">
        	 <h6>Videos</h6>
        	 	<div class="photoset-grid-custom" >
				  <img src="http://imaging.nikon.com/lineup/lens/zoom/normalzoom/af-s_dx_18-140mmf_35-56g_ed_vr/img/sample/sample1_l.jpg" data-highres="http://imgsv.imaging.nikon.com/lineup/lens/zoom/normalzoom/af-s_dx_18-140mmf_35-56g_ed_vr/img/sample/sample1_l.jpg" id="my_link">
				  <img src="http://imaging.nikon.com/lineup/lens/zoom/normalzoom/af-s_dx_18-300mmf_35-56g_ed_vr/img/sample/sample4_l.jpg" data-highres="http://imgsv.imaging.nikon.com/lineup/lens/zoom/normalzoom/af-s_dx_18-300mmf_35-56g_ed_vr/img/sample/sample4_l.jpg">
				  <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS8gZ4mktHf494hvFxItQ55LBAguM7KifaM9AYKbHgOgF8WDjMJ" data-highres="http://www.chrisjanson.com/sites/g/files/g2000005281/f/sample_01.jpg">
				</div>
        	  <h6>Members</h6>
        	  	<div class="photoset-grid-custom" >
				  <img src="http://imaging.nikon.com/lineup/lens/zoom/normalzoom/af-s_dx_18-140mmf_35-56g_ed_vr/img/sample/sample1_l.jpg" data-highres="http://imgsv.imaging.nikon.com/lineup/lens/zoom/normalzoom/af-s_dx_18-140mmf_35-56g_ed_vr/img/sample/sample1_l.jpg">
				  <img src="http://imaging.nikon.com/lineup/lens/zoom/normalzoom/af-s_dx_18-300mmf_35-56g_ed_vr/img/sample/sample4_l.jpg" data-highres="http://imgsv.imaging.nikon.com/lineup/lens/zoom/normalzoom/af-s_dx_18-300mmf_35-56g_ed_vr/img/sample/sample4_l.jpg">
				  <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS8gZ4mktHf494hvFxItQ55LBAguM7KifaM9AYKbHgOgF8WDjMJ" data-highres="http://www.chrisjanson.com/sites/g/files/g2000005281/f/sample_01.jpg">
				</div>
		</div>
	  </div>
	 </div>
	</div>
  </div>
</div>


<script type="text/javascript">
	
	$('.photoset-grid-custom').photosetGrid({
	  // Set the gutter between columns and rows
	  gutter: '5px',
	  // Manually set the grid layout
	  layout: '332',
	  // Wrap the images in links
	  highresLinks: true,
	  // Asign a common rel attribute
	  rel: 'print-gallery',

	  onInit: function(){},
	  onComplete: function(){
	    // Show the grid after it renders
	    $('.photoset-grid-custom').attr('style', '');
	  }
	});

	document.getElementById('my_link').onclick = function() {
	  document.getElementById('my_link').disabled = true;
	  document.getElementById("my_image").src='the_path_to_another_image';
	};

</script>


<style type="text/css">
	.panel-default>.panel-heading {
	    color: #999;;
	    background-color: white;
	    border-color: #ddd;
	}

	h5 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
</style>

