<style>

.filter-footer {
    height:15px;  
}
.stage {
  background-color:#1dcfac;
}
.date {
    background-color:#3498db;
}

.search {
    background-color:#8e44ad;
}
.cand-search .panel-body {
    padding: 6px;

}
</style>

<script type="text/javascript">
  $(function() {
    var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }
 
    $( "#skills" )
      // don't navigate away from the field on tab when selecting an item
      .bind( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).autocomplete( "instance" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        minLength: 0,
        source: function( request, response ) {
          // delegate back to autocomplete, but extract the last term
          response( $.ui.autocomplete.filter(
            availableTags, extractLast( request.term ) ) );
        },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push( "" );
          this.value = terms.join( ", " );
          return false;
        }
      });
    });

</script>

<div class="container cand-search" style="padding-top:100px; margin-bottom:20px;">
     <form class="form-inline" action="<%= candidates_path %>" method="get">
    <div class="col-lg-12">
        <div class="panel panel-default">

            <div class="panel-body">
                <h4 style="padding-left:14px;">Search for the best candidates!</h4>
            </div>
            <div class="panel-body">
                    <div class="col-md-4">
                        <input class="form-control input-md input-auto no-border" style="width:100%" placeholder="Position"></input>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control input-md input-auto no-border" style="width:100%" placeholder="Work Experience"></input>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control input-md input-auto no-border" style="width:100%" placeholder="Training"></input>
                </div>
              </div>
   <div class="panel-body">
                <div class"row">
                    <div class="col-md-4">
                        <input class="form-control input-md input-auto no-border" style="width:100%" placeholder="Education"></input>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control input-md input-auto no-border" style="width:100%"placeholder="Age"></input>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control input-md input-auto no-border" style="width:100%" placeholder="Location"></input>
                </div>
            </div>
        </div>
            <div class="panel-body">
                <div class="col-md-12">
                        <input class="form-control input-md input-auto no-border" id="skills" style="width:100%" placeholder="Skill Requirements"></input>
                    </div>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                        <input class="form-control input-md input-auto no-border" id="skills" style="width:100%" placeholder="Work Attitudes"></input>
                    </div> 
            </div>
            <div class="panel-body" style="padding-bottom:12px;">
                <div class="pull-right">
                 <button class="btn btn-success">Search</button>
                <button class="btn btn-primary">Create Candidate Alert</button>
            </div>
            </div>
        </div>

       

    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            
            <div class="panel-body" style="margin-top:12px;">  
                <div id="products" class="row">
                <% if @users.empty? %>
                     <div style="padding:30px;" class="row">
                        <p class="lead" style="text-align:center">No Result for <%= params[:q] %></p>
                        <center><button style="text-align:center;"class="btn btn-success" href="/search/users">Discover More Profiles</a></center>
                    </div>
                <% end %>
                <% else %>
                <% @users.each do |user| %>
                    <div class="item-col  col-xs-12 col-lg-3">
                        <div class="thumbnail">
                            <img class="group list-group-image" src="http://placehold.it/300x250/000/fff" alt="" />
                        <div class="caption">
                        <h4 class="group inner list-group-item-heading"><%= user.name %></h4>
                        <p class="group inner list-group-item-text">
                            Android Developer</p>
                        </div>
                        <div class="row">
  <div class="col-sm-12" style="margin-right:12px;">
      <div class="pull-right">
         <button class="btn btn-primary pull-right">Invite</button>
        </div>
  </div>
</div>
                        </div>
                    </div>
                         
                <% end %>
                </div>
                </div>
            </div>
        </div>
     </div>
    </form> 
</div>


<script>
    $('#list').click(function(event) {
        event.preventDefault();
        $('#products .item-col').addClass('list-group-item');
    });
    $('#grid').click(function(event) {
        event.preventDefault();
        $('#products .item-col').removeClass('list-group-item');
        $('#products .item').addClass('grid-group-item');
    });

     $('.selectpicker').selectpicker('val', 'Mustard');
</script>

<style>

.col-lg-3 .panel {
    margin-bottom: 0px;
}

.item-col {
  height: 320px;
}

.item-col.list-group-item{
    float: none;
    width: 100%;
}

p.test {
    width: 11em; 
    word-wrap: break-word;
}

.tag.has-text_shadow {
    text-shadow: 0px 1px rgba(0, 0, 0, 0.32);
}
.tag.has-border {
    border: 1px solid #4D75AD;
}
.tag:hover {
    background: transparent linear-gradient(#4777BB, #3E68A2) repeat scroll 0% 0%;
}
.layout * {
    box-sizing: border-box;
}
.tag {
    border-radius: 2px;
    border: 1px solid transparent;
    display: inline-block;
    padding: 2px 20px 0px;
    margin-bottom: 7px;
    margin-right: 7px;
    background-color: #175BA0;
    color: #FFF;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    line-height: 25px;
    text-decoration: none;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0; 
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.link.is-blue {
    color: #3863A0;
    display: inline;
    text-decoration: none;
    transition-duration: 150ms;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: color, transform, text-shadow;
}
.skill_developer-name {
    font-family: "Helvetica Neue","Helvetica","Arial","sans-serif";
    letter-spacing: 0.01em;
    color: #3863A0;
    font-size: 26px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: -4px;
    position: relative;
    top: -7px;
}

.skill_developer-member_since:first-child, .skill_developer-awesome_developer:first-child {
    margin-left: 0px;
}
.skill_developer-member_since, .skill_developer-awesome_developer {
    position: relative;
    float: left;
    color: #3863A0;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
}

a {
    padding: 2px;
}
</style>






















<style>

.tag.has-text_shadow {
    text-shadow: 0px 1px rgba(0, 0, 0, 0.32);
}
.tag.has-border {
    border: 1px solid #4D75AD;
}
.tag:hover {
    background: transparent linear-gradient(#4777BB, #3E68A2) repeat scroll 0% 0%;
}
.layout * {
    box-sizing: border-box;
}
.tag {
    border-radius: 2px;
    border: 1px solid transparent;
    display: inline-block;
    padding: 2px 20px 0px;
    margin-bottom: 7px;
    margin-right: 7px;
    background-color: #175BA0;
    color: #FFF;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    line-height: 25px;
    text-decoration: none;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0; 
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.link.is-blue {
    color: #3863A0;
    display: inline;
    text-decoration: none;
    transition-duration: 150ms;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: color, transform, text-shadow;
}
.skill_developer-name {
    font-family: "Helvetica Neue","Helvetica","Arial","sans-serif";
    letter-spacing: 0.01em;
    color: #3863A0;
    font-size: 26px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: -4px;
    position: relative;
    top: -7px;
}

.skill_developer-member_since:first-child, .skill_developer-awesome_developer:first-child {
    margin-left: 0px;
}
.skill_developer-member_since, .skill_developer-awesome_developer {
    position: relative;
    float: left;
    color: #3863A0;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
}

a {
    padding: 2px;
}
</style>