<div class="container" style="margin-top:100px;">
    <div class="row">
		<div class="well">

        	<div class="col-lg-12">
            	<center>
            	    <%= form_tag("/search", method: "get") do %>
                	    <div class="input-group input-group-lg col-md-8">
                    	    <input type="text" class="form-control" placeholder="Find People, Jobs and Competitions" aria-describedby="sizing-addon1" name="q">
                        	<span class="input-group-btn">
                            	<input type="submit" class="btn btn-default" value="search"> 
                        	</span>
                    	</div>
                	<% end %>
            	</center>
       		</div>
       	<h3>Search results</h3>
        <% @results_set.each do |result| %>
        	<% if result["resource_type"].to_s == "User" %>
        		<div class="list-group">
		          <a href="<%= user_path(result['id']) %>" class="list-group-item active">
                	<div class="media col-md-3">
                    	<figure class="pull-left">
                        	<img class="media-object img-rounded img-responsive"  src="<%= result[:avatar_url] %>" style="width:180px">
                    	</figure>
                	</div>
                	<div class="col-md-6">
                    	<h4 class="list-group-item-heading"> <%= result["title"] %> </h4>
                    	<p class="list-group-item-text"> 
                    	
                    	</p>
                	</div>
                	<div class="col-md-3 text-center">
                    	<!-- <button type="button" class="btn btn-default btn-lg btn-block"> Vote Now! </button> -->
                	</div>
        		  </a>
        		</div>
        	<% elsif result["resource_type"].to_s == "Competition" %>
        		<div class="list-group">
		          <a href="<%= competition_path(result['id']) %>" class="list-group-item active">
                	<div class="media col-md-3">
                    	<figure class="pull-left">
                        	<img class="media-object img-rounded img-responsive"  src="<%= result[:poster_url] %>" style="width:180px">
                    	</figure>
                	</div>
                	<div class="col-md-6">
                    	<h4 class="list-group-item-heading"> <%= result["title"] %> </h4>
                    	<p class="list-group-item-text"> 
                    	
                    	</p>
                	</div>
                	<div class="col-md-3 text-center">
                    	<button type="button" class="btn btn-default btn-lg btn-block"> Vote Now! </button>
                	</div>
        		  </a>
        		</div>
        	<% end %>
        <% end %>
	</div>
</div>