<h1>Listing devices</h1>

<table>
  <tr>
    <th>User</th>
    <th>Unique indetifier</th>
    <th>Platform</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @devices.each do |device| %>
  <tr>
    <td><%= device.user_id %></td>
    <td><%= device.unique_indetifier %></td>
    <td><%= device.platform %></td>
    <td><%= device.active %></td>
    <td><%= link_to 'Show', device %></td>
    <td><%= link_to 'Edit', edit_device_path(device) %></td>
    <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Device', new_device_path %>
