<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @device.user_id %>
</p>

<p>
  <b>Unique indetifier:</b>
  <%= @device.unique_indetifier %>
</p>

<p>
  <b>Platform:</b>
  <%= @device.platform %>
</p>

<p>
  <b>Active:</b>
  <%= @device.active %>
</p>


<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
