<%= form_for(@company_branch) do |f| %>
  <% if @company_branch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company_branch.errors.count, "error") %> prohibited this company_branch from being saved:</h2>

      <ul>
      <% @company_branch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :comapny_id %><br />
    <%= f.number_field :comapny_id %>
  </div>
  <div class="field">
    <%= f.label :branch_id %><br />
    <%= f.number_field :branch_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
