<h1>Listing company_branches</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Comapny</th>
    <th>Branch</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @company_branches.each do |company_branch| %>
  <tr>
    <td><%= company_branch.name %></td>
    <td><%= company_branch.comapny_id %></td>
    <td><%= company_branch.branch_id %></td>
    <td><%= company_branch.user_id %></td>
    <td><%= link_to 'Show', company_branch %></td>
    <td><%= link_to 'Edit', edit_company_branch_path(company_branch) %></td>
    <td><%= link_to 'Destroy', company_branch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company branch', new_company_branch_path %>
