<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company_branch.name %>
</p>

<p>
  <b>Comapny:</b>
  <%= @company_branch.comapny_id %>
</p>

<p>
  <b>Branch:</b>
  <%= @company_branch.branch_id %>
</p>

<p>
  <b>User:</b>
  <%= @company_branch.user_id %>
</p>


<%= link_to 'Edit', edit_company_branch_path(@company_branch) %> |
<%= link_to 'Back', company_branches_path %>
