<section class="content-section video-section">
  <div class="pattern-overlay">
  <!-- https://www.youtube.com/watch?v=fdJc1_IBKJA -->
  <a id="bgndVideo" class="player" data-property="{videoURL:'http://youtu.be/zk5gWVftERI',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <center>
                <%= form_tag("/competitions", method: "get") do %>
                    <div class="input-group input-group-lg col-md-8">
                        <input type="text" class="form-control" placeholder="Search for a competition" aria-describedby="sizing-addon1" name="q">
                        <span class="input-group-btn">
                            <input type="submit" class="btn btn-default" value="search"> 
                        </span>
                    </div>
                <% end %>
            </center>
       </div>
      </div>
    </div>
  </div>
</section>

<div class="row" style="margin-top:80px">
    <div class="col-md-12">
        <% @competitions.each do |competition| %>
                <%= link_to competition do %>
                <div class="col-sm-4 col-md-4 col-lg-4" style="height:550px;overflow:hidden;">
                    <div class="thumbnail">
                        <center>
                        <% if competition.video[0] %>
                            <video height="350" controls>
                                <source src="<%= get_video_for_competition(competition)%>" type="video/mp4">
                            </video>
                        <% else %>
                            <%= image_tag(competition.poster_url, :width => "90%", :height => "350px")  %>
                        <% end %>
                        </center>
                        <div class="caption">
                            <h3><%= competition.title %></h3>
                        </div>
                        <p>
                            <div class="fb-share-button" data-href="<%= competition_url(competition.id) %>" data-layout="button"></div>

                        </p>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
