<div class="row" style="magrin-top:-50px; color: #FFF">
  <div class="col-md-12">
      <div class="jumbotron" style="background: url('http://teamn10sity.com/wp-content/uploads/2014/05/1802056.jpg') no-repeat">
        <h2><%= @competition.title %></h2>
          <p>
            <%= @competition.start_date %> - <%= @competition.end_date %>
          </p>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <ol class="breadcrumb">
          <li><a href="<%= competitions_path %>">Competitions</a></li>
          <li class="active"><%= @competition.title %></li>
        </ol>
      </div>
      <% @nominees.each do |nominee| %>
        <div class="col-md-4" style="min-height:350px">
          <div class="media well" style="color: #474747">
            <center>
            <a href="<%= competition_nominee_url(nominee.competition_id, nominee.id) %>">
              <div class="media-left media-middle">
                  <video height="240" controls>
                    <source src="<%= nominee.video.payload.url(:mobile) %>" type="video/mp4">
                  </video>
                  <p><span><%= image_tag nominee.user.avatar.url, :class => "media-object profile_image", :style =>   "width:60px;height:60px;"%>
                    <h4 class="media-heading"><%= link_to nominee.nominated_user_name, controller: "users", action: "show", id: nominee.user_id %></h4></span></p>
                  <p>Nominated by: <%= link_to nominee.nominated_by_user, controller: "users", action: "show", id:  nominee.creator_id %></p>
              </div>
              <div class="media-body">
                <p>
                  comments <span class="badge">0</span> | 
                  stars <span class="badge">0</span> |
                  <div class="fb-share-button" data-href="<%= competition_nominee_url(nominee.competition_id, nominee.id) %>" data-layout="button"></div>
                </p>
              </div>
              </a>
            </center>
          </div>
        </div>
      <% end %>
  </div>
  <div class="row">
  </div>
</div>
