<%= simple_form_for(@group_member) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :place_group %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
