

<!-- Uses a header that scrolls with the text, rather than staying
  locked at the top -->
<div class="container" >
<div class="page-content row">
    <div class="col-md-8 col-md-offset-2 col-sm-12">
    <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp" style="margin-top: 150px; margin-bottom: 150px;">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric" colspan="2">List of Users</th>
          <th> Date Joined</th>
          <th> Status</th>
          <th> User Action</th>
        </tr>
      </thead>
      <tbody>

        <% @group_members.each do |group_member| %>
          <tr>
            <td style="width: 48px; padding-right: 0px; margin: 0px, 0px, 8px, 8px">
              <img src="http://placekitten.com/g/400/400" class="img-circle" alt="Cinque Terre" width="48px" height="48px"> 
            </td>
            <td style="padding-left: 8px;" class="mdl-data-table__cell--non-numeric">
                  <%= link_to group_member.user.name , group_member.user , class: 'no-color' %><br/>
                  <%= group_member.user.about %>
            </td>
            <td><%= group_member.created_at.strftime('%D') %></td>
            <td>Contractual</td>

            <td>
              <% if group_member.confirmed? %>
                <%= link_to 'Remove', group_member, id: "reject-"+ group_member.id.to_s, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% else %>
                <%= link_to 'Confirm', confirm_member_path(group_member, "group_member[confirmed]" => true), id: "confirm-" + group_member.id.to_s,method: :put,  data: { confirm: 'Are you sure?' }, remote: true  %> &nbsp;
                <%= link_to 'Reject', group_member, id: "reject-"+ group_member.id.to_s, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>

<style type="text/css">

  .mdl-data-table {
    width: 100%;
  }

  .mdl-button.mdl-button--colored {
    color: green; 
  }

  a.no-color {
    color: black;
  }

  a:link { 
      text-decoration:none; 
  }

  .mdl-button.mdl-button--colored-cancel {
    color: red; 
  }

  div.circle-avatar {
    /* make it responsive */
    max-width: 100%;
    width:100%;
    height:auto;
    display:block;
    /* div height to be the same as width*/
    padding-top:100%;

    /* make it a circle */
    border-radius:50%;

    /* Centering on image`s center*/
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;

    /* it makes the clue thing, takes smaller dimension to fill div */
    background-size: cover;

    /* it is optional, for making this div centered in parent*/
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .navbar-default .nav > li > a, .btn {
    font-family: Lato, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
  }


</style>

