<p id="notice"><%= notice %></p>

<p>
  <b>Place group:</b>
  <%= @group_member.place_group %>
</p>

<p>
  <b>User:</b>
  <%= @group_member.user %>
</p>


<%= link_to 'Edit', edit_group_member_path(@group_member) %> |
<%= link_to 'Back', group_members_path %>
