<h1>Listing company_dream_jobs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Comapny</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @company_dream_jobs.each do |company_dream_job| %>
  <tr>
    <td><%= company_dream_job.name %></td>
    <td><%= company_dream_job.comapny_id %></td>
    <td><%= company_dream_job.user_id %></td>
    <td><%= link_to 'Show', company_dream_job %></td>
    <td><%= link_to 'Edit', edit_company_dream_job_path(company_dream_job) %></td>
    <td><%= link_to 'Destroy', company_dream_job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company dream job', new_company_dream_job_path %>
