<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company_dream_job.name %>
</p>

<p>
  <b>Comapny:</b>
  <%= @company_dream_job.comapny_id %>
</p>

<p>
  <b>User:</b>
  <%= @company_dream_job.user_id %>
</p>


<%= link_to 'Edit', edit_company_dream_job_path(@company_dream_job) %> |
<%= link_to 'Back', company_dream_jobs_path %>
