<h1>Listing stored_professions</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stored_professions.each do |stored_profession| %>
  <tr>
    <td><%= stored_profession.name %></td>
    <td><%= link_to 'Show', stored_profession %></td>
    <td><%= link_to 'Edit', edit_stored_profession_path(stored_profession) %></td>
    <td><%= link_to 'Destroy', stored_profession, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stored profession', new_stored_profession_path %>
