<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @stored_profession.name %>
</p>


<%= link_to 'Edit', edit_stored_profession_path(@stored_profession) %> |
<%= link_to 'Back', stored_professions_path %>
