 <div class="modal-body">
    <div class='row'>
        <div class="col-md-8 col-video">
            <videogular vg-theme="args.theme">
                <vg-video vg-src="args.sources">
                </vg-video>

                <vg-controls>
                    <vg-play-pause-button></vg-play-pause-button>
                    <vg-timedisplay>{{ currentTime | date:'mm:ss' }}</vg-timedisplay>
                    <vg-scrubBar>
                        <vg-scrubbarcurrenttime></vg-scrubbarcurrenttime>
                    </vg-scrubBar>
                    <vg-timedisplay>{{ timeLeft | date:'mm:ss' }}</vg-timedisplay>
                    <vg-volume>
                        <vg-mutebutton></vg-mutebutton>
                        <vg-volumebar></vg-volumebar>
                    </vg-volume>
                    <vg-fullscreenButton></vg-fullscreenButton>
                </vg-controls>

                <vg-overlay-play></vg-overlay-play>
            </videogular>
        </div>
        <div class="col-md-4">
            <p>{{video.video[0].payload_thumb_url}}</p>
            Hello world
        </div>
    </div>
</div>