<div class='fvideo' ng-controller='VideosController'>
	<a href class='fthumb' fcoverimg='{{video.video[0].payload_thumb_url}}' ng-click='open(video)'>
	</a>
	<div class='fcontrols'>
		<div class="media">
            <div class="media-body">
            	<h4 class="media-heading">{{video.name}}</h4>
                <p class="media-heading">{{video.description}}</p>
			</div>
        </div>
	</div>
</div>