<div class="panel panel-default" id="<%= application.id %>">
    <div class="panel-body">
        <div class="dialog">
            <div class="content" >
                <div class="title">
                    <h4><%= application.user.name %></h4>
                </div>
                <% if !application.job.blank? %>
                    <div>
                        <% if !application.job.details.blank? %>
                            <%= application.job.details %>
                        <% end %> 
                            <% if !application.job.description.blank? %>
                              <%= application.job.description.html_safe %>
                            <% end %>
                        <br/>
                            <% if !application.job.description.blank? %>
                                <p class="pull-right"><%= application.job.created_at.strftime("%B %d, %Y") %>                        </p>
                            <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
	<div type="button" data-name="<%= application.user.name %>" data-id="<%= application.id %>" class="panel-footer" data-toggle="modal" data-target="#modal-details">
            <!-- Trigger the modal with a button -->
   		<span class="glyphicon glyphicon-align-left"></span>  3</i>
	</div>
 </div>