<div class="container" style="margin-top:30px; margin-bottom:100px;" >
    <% if @jobs.blank? %>
        <div class="panel panel-default" style="padding-top:100px; padding-bottom:100px;">
            <div class="panel-body"> 
                 <div id="products" class="row">
                         <div class="row">
                                <p class="lead" style="text-align:center">Create your first job now</p>
                        <center><%= link_to 'Create Job', new_job_path ,:class => 'btn btn-default' %></center>
                        </div>
                </div>
            </div>
        </div>
    <% else %>
        <div id="toolbar">
            <a id="add" class="btn btn-primary" href="<%= new_job_path %>">
               <i class="fa fa-plus"></i> New Job
            </a>
        </div>
        <table id="table" data-toolbar="#toolbar"></table>
    <% end %>
</div>

<style type="text/css">

.ml10 {
    margin-left: 10px;
}

.fa-plus {
    color: #fff;
}

</style>

<script>
    
  var $table = $('#table'),
        $remove = $('#remove');

    window.operateEvents = {
        'click .view': function (e, value, row, index) {
            window.location.href = 'jobs/' + row.id;
        },
        'click .edit': function (e, value, row, index) {
            window.location.href = 'jobs/' + row.id + '/edit';
        },
        'click .remove': function (e, value, row, index) {
            $.ajax({
                type: "POST",
                url: "/jobs/" + row.id,
                dataType: "json",
                data: {"_method":"delete"},
                success: function(data) {
                      $table.bootstrapTable('remove', {
                        field: 'id',
                        values: [row.id]
                    });
                }
            }).fail(function(data) {
                alert("error");
            });
            event.preventDefault();
        },
        'click .revoke': function (e, value, row, index) {
            // $.ajax({
            //     type: "POST",
            //     url: "/company_employee/" + row.id,
            //     dataType: "json",
            //     data: {"_method":"delete"},
            //     success: function(data) {
            //           $table.bootstrapTable('remove', {
            //             field: 'id',
            //             values: [row.id]
            //         });
            //     }
            // }).fail(function(data) {
            //     alert("error");
            // });
            // event.preventDefault();
        }
    };
    


    $('#table').bootstrapTable({
        url: '<%= jobs_url %>',
        search: true,
        pagination: true,
        showRefresh: true,
        iconsPrefix: 'fa',
        icons: {
          paginationSwitchDown: 'glyphicon-collapse-down icon-chevron-down',
          paginationSwitchUp: 'glyphicon-collapse-up icon-chevron-up',
          refresh: 'fa-refresh',
          toggle: 'glyphicon-list-alt icon-list-alt',
          columns: 'glyphicon-th icon-th',
          detailOpen: 'glyphicon-plus icon-plus',
          detailClose: 'glyphicon-minus icon-minus'
        },
        columns: [{
            field: 'position',
            title: 'Position',
            sortable: true
        }, {
            field: 'company.name',
            title: 'Company',
            sortable: true
        }, {
            field: 'location',
            title: 'Location',
            sortable: true
        }, {
            field: 'updated_at',
            title: 'Last Modified',
            sortable: true
        }, {
            field: '',
            title: 'Status'
        }, {
            field: '',
            title: 'New Applications / Total'
        }, {
            field: '',
            title: 'Questions',
            sortable: true
        }, {
            field: 'operate',
            title: 'Action',
            events: operateEvents,
            formatter: actionFormatter
        }]
    });
    
    function actionFormatter(value, row, index) {
        return [
            '<a class="view ml10" href="javascript:void(0)" title="View">',
            '<i class="fa fa-external-link"></i>',
            '</a>',
            '<a class="edit ml10" href="javascript:void(0)" title="Edit">',
            '<i class="fa fa-pencil-square-o"></i>',
            '</a>',
            '<a class="remove ml10" href="javascript:void(0)" title="Remove">',
            '<i class="fa fa-trash-o"></i>',
            '</a>'
        ].join('');
    }

    window.operateEvents = {
        'click .like': function (e, value, row, index) {
            alert('You click like icon, row: ' + JSON.stringify(row));
            console.log(value, row, index);
        },
        'click .edit': function (e, value, row, index) {
            alert('You click edit icon, row: ' + JSON.stringify(row));
            console.log(value, row, index);
        },
        'click .remove': function (e, value, row, index) {
            alert('You click remove icon, row: ' + JSON.stringify(row));
            console.log(value, row, index);
        }
    };


</script>
