<style>

.overflowAuto {
  overflow: auto;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.center-text {
  text-align: center;
}

.job_content{
  padding-top: 10px;
}

ul {
    list-style-type: circle;
}
li {
  margin-left: 8px;
}

</style>

<script>
// $(document).ready(function() {
//   var colors = ['#3498db', '#2ecc71', '#3498db'];
//   var random_color = colors[Math.floor(Math.random() * colors.length)];
//   $('#header_cap').css('background-color', random_color);
// });
</script>

<!-- view to be inflated -->
<div class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-xs-12 mb30">
  <div class="panel panel-default">
    <div class="header_cap" id="header_cap" style="height:20px; background-color:#2980b9;">
    </div>
    <div class="job_content">
            <div class="pRelative h47 w47 centerBlock mb10 p0">
              <img class="center-block" src="https://d3aref2hpyyy3b.cloudfront.net/45x45/http://s3.amazonaws.com/public-ziprecruiter/uploads/aaab5a53.png" alt="Worldlink" class="companyLogo" onerror="this.onerror=null;this.src='https://d2jutb8bry7gi8.cloudfront.net/zrs/b5d11702/img/chair-icon-gray.png?error';" width="45">
            </div>
      <a class="clickable_target" href="/jobs/worldlink-5b0c7ed3/android-software-engineer-ab5e6535">
        <h4 class="center-text" title="Android Software Engineer"><%= job.position %></h4>
      </a><!-- end main link -->
      <p class="center-text">
        <% if job.company %> 
           <%= job.company.name %>
        <% else %>
          Private Company
        <% end %>
      </p>
      <p class="center-text">
        <span class="truncate"><%= job.city %></span>
      </p>
                  <div>
        <div class="interviewLink alert alert-warning p15 clearfix centerContent" style="display:none;">
          <p class="tCenter">To complete your application, please answer interview questions:</p>
          <a class="clickable_target btn btn-small orangeText w80pTablet w80pTabletSmall mb5Phone" href="/jobs/worldlink-5b0c7ed3/android-software-engineWer-ab5e6535">
            <i class="fa fa-question-circle font14 ml-3"></i> <strong>Begin Interview</strong>
          </a>
        </div>
        <div class="overflowAuto" style="min-height:180px; max-height: 180px;">
           <p></p><p><strong><%= job.details %></strong></p><p>
            <%= job.description.html_safe %>
        </div>
        </div>
        <div class="borderTop pt15">
          <form action="jobs/<%= job.id %>/apply" method="post">
            <button type="submit" id="search" class="btn btn-success center-block" style="width:100%">Apply</button>
          </form> 
          <div class="processOneClick p4 tCenter" style="display:none;"><i class="fa fa-spinner fa-spin fa-2x greenText"></i></div>
          <div class="greenText successMessage whitePanel br4 p7 tCenter fw9 font14" style="display:none;">
          <i class="fa fa-check"></i> Applied
          </div>
        </div>
    </div>
  </div>
</div>