<style>
.width-fix {
  white-space:normal !important;
  max-width:200px;
}
  #sortable1, #sortable2 ,#sortable3 {
    border: 1px solid #eee;
    width: 100%;
    min-height: 90px;
    list-style-type: none;
    margin: 0;
    padding: 2px;
    float: left;
    margin-right: 10px;
  }
  #sortable1 li, #sortable2 li, #sortable3 li {
   margin: 3px 3px 3px 0; padding: 1px; float: left; width: 112px; height: 90px; font-size: 4em; text-align: center;
  }
.div-list {
    width: auto;
    height: 300px;
    overflow-x: hidden;
    overflow-y: visible;
}
</style>

<script>
  $(function() {
    $( "#sortable1, #sortable2 ,#sortable3" ).sortable({
      connectWith: ".connectedSortable"
    }).disableSelection();
  });
</script>

<div>

  <div class="row">
    <a class="pull-right"><i class="fa fa-pencil"></i> Edit job details</a>
  </div>

  <div class="panel panel-default">
    
    <div class="panel-heading" style="background-color:#323232;">
      <a class="panel-title"><h3 style="text-align:left; color:white;">Famous.ph</h3></a>
    </div>

    <div class="panel-body">
     <div class="alert" style="display:none">
                  <h4 class="goldText"><i class="fa fa-exclamation-triangle fa-lg goldText"></i> This draft job has not been posted yet. <a href="/quiz/posting/95005e57" id="95005e57" class="" title="Post to the job boards">Post to job boards now.</a></h4>
          </div> <!-- end alert -->
    </div>    

    <div class="panel-body">
        <div class="col-lg-8 col-xl-8 col-md-8 col-sm-12 col-xs-12">
          <h1>Andriod Developer</h1>
            <div class="clearfix">
              <h4 style="text-align:left">
                <i class="fa fa-building"></i> Famous.ph</a>
                <i class="fa fa-map-marker"></i><span itemprop="addressLocality"> Columbia</span>
              </h4>
            <p class="grayText mb0"><span class=""></span> in <a>Environmental Science</a></p>
          </div><!-- end location -->
      
      <h4>Required Skills</h4>


        <ul>
          <li>Handsome</li>
           <li>Handsome</li>
            <li>Handsome</li>
             <li>Handsome</li>
        </ul>


        <ul id="sortable1" class="connectedSortable">
        </ul>

      <h4>Work Attitude</h4>

        <ul id="sortable3" class="connectedSortable">
        </ul>


        <div class="panel-body" style="padding:0px; padding-top:10px; ">
          <br/>
            <h4>Description</h4>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel blandit orci. Donec mattis finibus risus ac euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed rhoncus eros. Etiam vulputate maximus purus non convallis. Vivamus non leo vulputate metus maximus interdum. Maecenas porta faucibus gravida. Morbi quis ipsum eget elit vehicula rutrum non vulputate ex. Maecenas eu justo eu quam volutpat maximus id quis risus. Ut tempor purus id nunc porta, ut varius eros malesuada.

Donec posuere, dui vitae pulvinar sagittis, elit dui molestie nisi, vel placerat arcu massa et odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut dui pellentesque, volutpat mauris in, consequat nibh. In scelerisque efficitur massa et euismod. Suspendisse libero ante, condimentum sit amet sem a, feugiat ornare mauris. Mauris facilisis lorem dolor, vitae tincidunt metus aliquam ut. Phasellus eros dolor, scelerisque et cursus a, lobortis sed lacus. Proin odio purus, aliquam nec fermentum at, ullamcorper ac enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin semper dui imperdiet nulla convallis tempus. Fusce eget cursus arcu. In in libero iaculis, volutpat diam non, luctus mauris. Nulla laoreet dignissim neque non dignissim. Sed odio turpis, finibus id odio id, eleifend tincidunt erat. Mauris luctus risus lorem, sed porta nulla sodales a. Curabitur feugiat ut dolor sit amet placerat.  </p>
  </div>
          <input class="btn btn-success" style="margin-top:20px;" type="button" value="  Apply  ">
        </div><!-- end job details -->

             
        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12 col-xs-12 well">
            <h4 style="text-align:center">Apply</h4>
            <h4>Video List</h4>
              <div class="div-list">
              
              <ul id="sortable2" class="connectedSortable" >
                <li class="ui-state-highlight"></li>
                <li class="ui-state-highlight"></li>
                <li class="ui-state-highlight"></li>
                <li class="ui-state-highlight"></li>
                <li class="ui-state-highlight"></li>
                <li class="ui-state-highlight"></li>
                <li class="ui-state-highlight"></li>
                <li class="ui-state-highlight"></li>
                <li class="ui-state-highlight"></li>
                <li class="ui-state-highlight"></li>
                <li class="ui-state-highlight"></li>
                <li class="ui-state-highlight"></li>
                <li class="ui-state-highlight"></li>
                <li class="ui-state-highlight"></li>
                <li class="ui-state-highlight"></li>

              </ul>
              </div>
        </div><!--  end user details -->



    </div><!- end root panel body--->
  </div><!-- end panel -->
</div>