<!-- FROM: http://bootsnipp.com/snippets/featured/kanban-board -->

<style>


.item-drag {
    min-height: 150px;
    background-color:#F1F1F1;
}

.fa-yellow {
   color: #F7CA18;
}

.img-thumbnail {
    background-color: #fff;
    border: 1px solid #ededf0;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    line-height: 1.428571429;
    max-width: 100%;
    moz-transition: all .2s ease-in-out;
    o-transition: all .2s ease-in-out;
    padding: 2px;
    transition: all .2s ease-in-out;
    webkit-transition: all .2s ease-in-out;
}

.img-circle {
    border-radius: 50%;
}


.kanban-col {
    width: 300px;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
}

.panel-body {
    padding: 15px 0 0 0;
    overflow-y:auto;
    overflow-x:hidden;
}

.kanban-fluid {
    min-height:500px;
    padding-bottom: 30px;
    margin-top: 70px;
}

.container-div {
    padding: 8px;
}

h4 {
    font-size: 15px;
}

 .button {
      display: inline-block;
      position: relative;
      width: 120px;
      height: 32px;
      line-height: 32px;
      border-radius: 2px;
      font-size: 0.9em;
      background-color: #fff;
      color: #646464;
    }

 .button.blue {
      background-color: #4285f4;
      color: #fff;
    }


    .dialog {
      box-sizing: border-box;
      padding-left: 8px;
      padding-right: 8px;
    }
    
    .dialog > .content {
      min-height: 100px;
      font-size: 0.9em;
    }
    
    .dialog > .content > .title {
      font-size: 1.3em;
    }
    
    .dialog > .button {
      width: 90px;
      float: right;
    }  




    h3 {
        padding: 10px;
        margin: 0px;
    }



    body {
        -webkit-user-select: none; /* Chrome/Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
        /* Rules below not implemented in browsers yet */
        -o-user-select: none;
        user-select: none;
    }


    .widget-area.blank {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    }
    body .no-padding {
    padding: 0;
    }
    .widget-area {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    float: left;
    position: relative;
    }
    .status-upload {
    background: none repeat scroll 0 0 #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    float: left;
    width: 100%;
    }
    .status-upload form {
    float: left;
    width: 100%;
    }
    .status-upload form textarea {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #777777;
    float: left;
    font-size: 14px;
    height: 142px;
    letter-spacing: 0.3px;
    padding: 20px;
    width: 100%;
    resize:vertical;
    outline:none;
    border: 1px solid #F2F2F2;
    }

    .status-upload ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0 15px;
    width: auto;
    }
    .status-upload ul > li {
    float: left;
    }
    .status-upload ul > li > a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #777777;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 10px 0 10px 10px;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 30px;
    cursor: pointer;
    }
    .status-upload ul > li > a:hover {
    background: none repeat scroll 0 0 #606060;
    color: #fff;
    }
    .status-upload form button {
    border: medium none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin-right: 9px;
    margin-top: 9px;
    padding: 6px 15px;
    }
    .dropdown > a > span.green:before {
    border-left-color: #2dcb73;
    }
    .status-upload form button > i {
    margin-right: 7px;
    }

</style>

<script>


function addDataToList(element) {
    var name = element.user.name; 
    var date = element.updated_at;
    var comment = element.message;
    $(".comment-list-holder").prepend($("<div class=\"row\">\r\n\t<!-- user photo -->\r\n\t<div class=\"col-md-2\">\r\n\t\t<img src=\"http:\/\/placehold.it\/50x50\" class=\"img-rounded img-responsive center-block\"><\/img>\r\n\t<\/div>\r\n\t<div class=\"col-md-10\">\r\n\t\t<!-- row activity and name -->\r\n\t\t<div class=\"row\"> "+  name +" <span style=\"text-color:#CCCC\">moved this card to what ever<\/span>\r\n\t\t<\/div>\r\n\t\t<div class=\"row\">\r\n\t\t\t<h5>"+
        comment+"<\/h5>\r\n\t\t<\/div><div class=\"row\" style=\"color:#CCCCC;\"><span class=\"timeago\">"+ 
        date
         + "<\/span> <span><u>Edit<\/u> <u>Delete<\/u><span\/>\r\n\t\t<\/div>\r\n\t<\/div>\r\n<\/div>\r\n<hr\/>\r\n").fadeIn('slow'));
}

function clearList(){
    $(".comment-list-holder").empty();
}

$(function () {
   
    $('#modal-details').on('show.bs.modal', function (event) {
        
        var button = $(event.relatedTarget);
        var candidateId = button.data('id') ;
        var candidateName = button.data('name');
        
        $(".modal-content #candidateId").val( candidateId );
        $(".modal-content #candidateName").text( candidateName );
         
        $.ajax({
            url: '/candidates/' + String(candidateId) + '/comments',
            type: 'GET',
            async: false,
            success: function(data) {

               $.getJSON('/candidates/' + candidateId + '/comments.json', function(data) {
                     clearList();
                    $.each(data, function(index, element) {
                        addDataToList(element);
                    });
                });
            }
        }).fail(function(data) {
            alert("error");
        });
    });

    $("#items1,#items2,#items3,#items4").sortable({
        scroll: false,
        scrollSensitivity: 100,
        helper: 'clone',
        appendTo: 'body',
        containment: 'window',
        connectWith: "#items1,#items2,#items3,#items4",
        start: function(ev, ui) {
            ui.helper.css('background-color', '#F1F1F2');
           // ui.helper.css('padding', '8');
          //  ui.helper.css('border-radius', '10');
        },
        receive: function(e, ui) {
            var type = $(this).attr('name');
            var id= ui.item.attr('id');
            moveCandidate(id,type,$(this),ui);
        },
    });

    function moveCandidate(id,type, parent ,ui) {
        $.ajax({
            url: '/candidates/' + String(id),
            type: 'PUT',
            async: false,
            data: "application_type=" + String(type),
            success: function(data) {
            }
        }).fail(function(data) {
            parent.sortable('cancel');
            ui.sender.sortable('cancel');
        });
    }

});


$(function () {

    var kanbanCol = $('.panel-body');
    var COLUM_COUNT = 4;
    kanbanCol.css('max-height', (window.innerHeight - 150) + 'px');
    $('.kanban-fluid').css('min-width', (COLUM_COUNT * 320) + 'px');
            $('.panel-heading').click(function() {
                var $panelBody = $(this).parent().children('.panel-body');
                $panelBody.slideToggle();
            });
    $('.rating').on('change', function () {
        alert('Rating: ' + $(this).val());
    });

});

jQuery(function($) {
    $('form[data-async]').on('submit', function(event) {
        var $form = $(this);
        var $target = $($form.attr('data-target'));
        var candidateId = $(".modal-content #candidateId").val();
        var message = $(".modal-content #message").val();
        $.ajax({
            type: 'POST',
            url: '/candidates/' + candidateId +'/comments',
            data: "message=" + message,
            dataType: 'json',
            success: function(data, status) {
                addDataToList(data);
                $(".modal-content #message").val('');
            }

        }).fail(function(data) {
               alert("nope");
        });

        event.preventDefault();
    });
});

</script>


<div class="container kanban-fluid" style="margin-top:100px; margin-bottom:100px;">
    <div class="row">
        <div class="panel panel-default kanban-col">    
            <h3>Applicants</h3>
            <div class="panel-body container-div">
                <div id="TODO" class="kanban-centered">
                    <div id="items1" name="" class="item-drag">
                        <%= render partial: 'applicant_cards', collection: @applied, as: :application %>
                    </div>
                </div>
            </div>
            <div class="panel-body" style="padding:10px;">
                <p style="text-align:center"><a><u>Invite More</u></a></p>
            </div>
        </div>
    
        <div class="panel panel-default kanban-col">
            <h3>Short Listed</h3>
            <div class="panel-body container-div">
                <div id="DONE" class="kanban-centered">
                    <div id="items3" name="short_listed" class="item-drag">
                        <%= render partial: 'applicant_cards', collection: @short_listed, as: :application %>
                    </div>
                </div>
            </div>
        </div>
        <!--sütun bitiş-->
        <!--sütun başlangıç-->
        <!--sütun bitiş-->
        <!--sütun başlangıç-->
        <div class="panel panel-default kanban-col">
            <h3>For Interview</h3>
            <div class="panel-body container-div">
                <div id="DOING" class="kanban-centered">
                  <div id="items2" name="interview" class="item-drag">   
                    <%= render partial: 'applicant_cards', collection: @for_interview, as: :application %>
                  </div>
              </div>
          </div>
        </div>
        <!--sütun bitiş-->
        <!--sütun başlangıç-->
        <div class="panel panel-default kanban-col">
            <h3>Hired</h3>
            <div class="panel-body container-div">
                 <div id="TODO" class="kanban-centered">
                    <div id="items4" name="hired" class="item-drag">
                        <%= render partial: 'applicant_cards', collection: @hired, as: :application %>
                    </div>
                </div>
            </div>
        </div>
        <!--sütun bitiş-->
        <!--sütun başlangıç-->
        <!--sütun başlangıç-->
    </div>
</div>
<!-- Modal -->
<div id="modal-details" class="modal fade" role="dialog">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="candidateName">Interview for Mark Anthony Cadag</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-9">
                 <input type="text" class="hidden"  name="candidateId" id="candidateId" value=""/>
                <div class="comment-holder row">
                <div class="col-md-2">
                    <img src="http://placehold.it/50x50" class="img-rounded img-responsive center-block"></img>
                </div>
                <div class="col-md-9 no-padding">
                 <div class="widget-area no-padding blank">
                    <div class="status-upload">
                        <form  class="form-horizontal" data-async action="/comments" method="POST">
                        <textarea value="message" id="message" placeholder="Write Comment" ></textarea>
                             <button  id="comment" type="submit" class="btn btn-success green" style="margin-bottom:6px;">Comment</button>
                        </form>
                    </div><!-- Status Upload  -->
                </div><!-- Widget Area -->
                </div>
                </div>
                <hr/>
                <div class="comment-list-holder">

                </div>
            </div>
            <div class="col-md-3">
                <div class="row" style=" margin:5px;">
                    Action
                </div>
                <div class="row" style=" margin:5px;">
                    <button class="btn btn-default green" style="width:90%;">Move to</button>
                </div>
                <div class="row" style=" margin:5px;">
                    <button class="btn btn-default green" style="width:90%;">Rate</button>
                </div>
                <div class="row" style=" margin:5px;">
                    <button class="btn btn-default green" style="width:90%;">Cancel Application</button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
