<style>

.filter-footer {
    height:15px;  
}
.stage {
  background-color:#1dcfac;
}
.date {
    background-color:#3498db;
}

.search {
    background-color:#8e44ad;
}
.cand-search .panel-body {
    padding: 6px;
}
</style>

<script type="text/javascript">
  $(function () {
    $('btn[name=apply]').click(function(event) {
      event.preventDefault();
      var jobId = this.id;
      $.ajax({
            type: 'POST',
            url: '/jobs/' + jobId +'/apply',
            // data: "message=" + message,
            dataType: 'json',
            success: function(data, status) {
              alert("YAY!");
            }

        }).fail(function(data) {
               alert("nope");
        });

    });
  });
</script>

<!-- <div class="container cand-search" style="margin-bottom:20px;">
     <form class="form-inline" action="<%= candidates_path %>" method="get">
    <div class="col-lg-12">
        <div class="panel panel-default">
             <div class="filter-footer stage"> </div>
            <div class="panel-body">
                <h4 style="padding-left:14px;">Find the perferct job!</h4>
            </div>
            <div class="panel-body">
                    <div class="col-md-4">
                        <input class="form-control input-md input-auto no-border" style="width:100%" placeholder="Position"></input>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control input-md input-auto no-border" style="width:100%" placeholder="Work Experience"></input>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control input-md input-auto no-border" style="width:100%" placeholder="Training"></input>
                </div>
              </div>
   <div class="panel-body">
                <div class"row">
                    <div class="col-md-4">
                        <input class="form-control input-md input-auto no-border" style="width:100%" placeholder="Education"></input>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control input-md input-auto no-border" style="width:100%"placeholder="Age"></input>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control input-md input-auto no-border" style="width:100%" placeholder="Location"></input>
                </div>
            </div>
        </div>
            <div class="panel-body">
                <div class="col-md-12">
                        <input class="form-control input-md input-auto no-border" id="skills" style="width:100%" placeholder="Skill Requirements"></input>
                    </div>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                        <input class="form-control input-md input-auto no-border" id="skills" style="width:100%" placeholder="Work Attitudes"></input>
                    </div> 
            </div>
            <div class="panel-body" style="padding-bottom:12px;">
                <div class="pull-right">
                 <button class="btn btn-success">Search</button>
                <button class="btn btn-primary">Create Job Alert</button>
            </div>
            </div>
        </div>

    </div> -->
    <div class="col-lg-12">
        <%= paginate @jobs %>
        <div ><%= raw(t 'views.pagination.previous') %></div>
        <% @jobs.each do |job| %>
               <div class="item-col col-xs-2 col-lg-3">
                  <div class="panel panel-default item-col">
                    <div class="panel-body">
                      <h4><%= job.position %></h4>
                      <% if !job.details.blank? %>
                        <p><%= job.details.html_safe %></p>
                      <% end %>
                      <btn name="apply" id="<%= job.id %>" class="btn btn-primary pull-right">Applies</btn> 
                      <btn class="btn btn-success pull-right">Refer</btn>
                    </div>
                  </div>
                </div>
        <% end %>
    </div>