<!--
> Muaz Khan     - https://github.com/muaz-khan
> MIT License   - https://www.webrtc-experiment.com/licence/
> Documentation - https://github.com/streamproc/MediaStreamRecorder
> =================================================================
> audio-recorder.html
-->

<head>
    <title>MultiStreamRecorder.js & MediaStreamRecorder</title>

    <script src="https://cdn.webrtc-experiment.com/MediaStreamRecorder.js"></script>
    <!-- for Edige/FF/Chrome/Opera/etc. getUserMedia support -->
    <script src="https://cdn.rawgit.com/webrtc/adapter/master/adapter.js"></script>

    <style>
    input {
        border: 1px solid rgb(46, 189, 235);
        border-radius: 3px;
        font-size: 1em;
        outline: none;
        padding: .2em .4em;
        width: 60px;
        text-align: center;
    }
    button, select {
        font-family: Myriad, Arial, Verdana;
        font-weight: normal;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        padding: 4px 12px;
        text-decoration: none;
        color: rgb(27, 26, 26);
        display: inline-block;
        box-shadow: rgb(255, 255, 255) 1px 1px 0px 0px inset;
        text-shadow: none;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.05, rgb(241, 241, 241)), to(rgb(230, 230, 230)));
        font-size: 20px;
        border: 1px solid red;
        outline:none;
    }
    button:active, button:focus, select:active {
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(5%, rgb(221, 221, 221)), to(rgb(250, 250, 250)));
        border: 1px solid rgb(142, 142, 142);
    }
    button[disabled], select[disabled] {
        background: rgb(249, 249, 249);
        border: 1px solid rgb(218, 207, 207);
        color: rgb(197, 189, 189);
    }
    blockquote {
        font-size: 20px;
        color: rgb(172, 10, 10);
        border: 1px solid rgb(172, 10, 10);
        padding: 5px 10px;
        border-radius: 5px;
        margin: 9px 10px;
    }
    span {
        border: 1px dotted red;
        background: yellow;
        padding: 0 5px;
    }
    </style>
</head>

    <h1>
        MultiStreamRecorder.js & <a href="https://github.com/streamproc/MediaStreamRecorder">MediaStreamRecorder</a>
    </h1>

    <p>
        Getting both audio/video blobs in single "ondataavailable" event using <a href="https://github.com/streamproc/MediaStreamRecorder">MediaStreamRecorder</a>
    </p>

    <div>
        <label for="time-interval">Time Interval (milliseconds):</label>
        <input type="text" id="time-interval" value="5000">ms

        <button id="start-recording">Start</button>
        <button id="stop-recording" disabled>Stop</button>

        <button id="pause-recording" disabled>Pause</button>
        <button id="resume-recording" disabled>Resume</button>
    </div>

    <div id="container"></div>

    <script>
    function captureUserMedia(mediaConstraints, successCallback, errorCallback) {
        navigator.mediaDevices.getUserMedia(mediaConstraints).then(successCallback).catch(errorCallback);
    }
    // commonly allowed resolutions:
    // ['1920:1080', 
    // '1280:720', 
    // '960:720', 
    // '640:360', 
    // '640:480', 
    // '320:240', 
    // '320:180']
    var resolution_x = 1280;
    var resolution_y = 720;
    var mediaConstraints = {
        audio: true,
        video: IsEdge ? true : {
            mandatory: {
                maxWidth: resolution_x,
                maxHeight: resolution_y,
                //minFrameRate: 3,
                //maxFrameRate: 64,
                //minAspectRatio: 1.77
            }
        }
    };
    document.querySelector('#start-recording').onclick = function() {
        this.disabled = true;
        captureUserMedia(mediaConstraints, onMediaSuccess, onMediaError);
    };
    document.querySelector('#stop-recording').onclick = function() {
        this.disabled = true;
        multiStreamRecorder.stop();
        multiStreamRecorder.stream.stop();
        document.querySelector('#pause-recording').disabled = true;
        document.querySelector('#start-recording').disabled = false;
    };
    document.querySelector('#pause-recording').onclick = function() {
        this.disabled = true;
        multiStreamRecorder.pause();
        document.querySelector('#resume-recording').disabled = false;
    };
    document.querySelector('#resume-recording').onclick = function() {
        this.disabled = true;
        multiStreamRecorder.resume();
        document.querySelector('#pause-recording').disabled = false;
    };
    var multiStreamRecorder;
    var audioVideoBlobs = {};
    var recordingInterval = 0;
    window.myURL = window.URL || window.webkitURL;
    function onMediaSuccess(stream) {
        var video = document.createElement('video');
        video = mergeProps(video, {
            controls: true,
            muted: true,
            src: window.myURL.createObjectURL(stream)
        });
        //video.width = resolution_x;
        //video.height = resolution_y;
        video.addEventListener('loadedmetadata', function() {
            multiStreamRecorder = new MultiStreamRecorder(stream);
            multiStreamRecorder.stream = stream;
            // below line is optional
            // because we already set "video.width"
            // and "video.height"....5 lines above
            multiStreamRecorder.canvas = {
                width: video.width,
                height: video.height
            };
            multiStreamRecorder.video = video;
            multiStreamRecorder.ondataavailable = function(blobs) {
                appendLink(blobs.audio);
                appendLink(blobs.video);
            };
            function appendLink(blob) {
                var a = document.createElement('a');
                a.target = '_blank';
                a.innerHTML = 'Open Recorded ' + (blob.type == 'audio/ogg' ? 'Audio' : 'Video') + ' No. ' + (index++) + ' (Size: ' + bytesToSize(blob.size) + ') Time Length: ' + getTimeLength(timeInterval);
                a.href = window.myURL.createObjectURL(blob);
                container.appendChild(a);
                container.appendChild(document.createElement('hr'));
            }
            var timeInterval = document.querySelector('#time-interval').value;
            if (timeInterval) timeInterval = parseInt(timeInterval);
            else timeInterval = 5 * 1000;
            // get blob after specific time interval
            multiStreamRecorder.start(timeInterval);
            document.querySelector('#stop-recording').disabled = false;
            document.querySelector('#pause-recording').disabled = false;
        }, false);
        video.play();
        container.appendChild(video);
        container.appendChild(document.createElement('hr'));
    }
    function onMediaError(e) {
        console.error('media error', e);
    }
    var container = document.getElementById('container');
    var index = 1;
    // below function via: http://goo.gl/B3ae8c
    function bytesToSize(bytes) {
        var k = 1000;
        var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
        if (bytes === 0) return '0 Bytes';
        var i = parseInt(Math.floor(Math.log(bytes) / Math.log(k)), 10);
        return (bytes / Math.pow(k, i)).toPrecision(3) + ' ' + sizes[i];
    }
    // below function via: http://goo.gl/6QNDcI
    function getTimeLength(milliseconds) {
        var data = new Date(milliseconds);
        return data.getUTCHours() + " hours, " + data.getUTCMinutes() + " minutes and " + data.getUTCSeconds() + " second(s)";
    }
    window.onbeforeunload = function() {
        document.querySelector('#start-recording').disabled = false;
    };
    </script>

<pre style="border-left: 2px solid red; margin-left:2em; padding-left: 1em;">
// cdn.webrtc-experiment.com/MediaStreamRecorder.js
var mediaConstraints = {
    audio: true,
    video: true
};

navigator.getUserMedia(mediaConstraints, onMediaSuccess, onMediaError);

function onMediaSuccess(stream) {
    var multiStreamRecorder = new MultiStreamRecorder(stream);
    multiStreamRecorder.ondataavailable = function(blobs) {
        // blobs.audio
        // blobs.video
    };
    multiStreamRecorder.start(3000);
}

function onMediaError(e) {
    console.error('media error', e);
}
</pre>

    <a href="https://www.webrtc-experiment.com/msr/" style="border-bottom: 1px solid red; color: red; font-size: 1.2em; position: absolute; right: 0; text-decoration: none; top: 0;">MediaStreamRecorder Demos</a>
