<div class="container-fluid" style="margin-top:70px;">
  	<% if current_user.employer?  %>
   	 	<%= render :partial => 'company_job_list'%>
  	<% else %>
  		<%= render :partial => 'user_job_list'%>
 	<% end %>
</div>
