<style>
.no-border{
	border-radius: 0 !important;
}

.full-width {
	 width:100%;
}

.panel > .panel-heading {
    background-image: none;
    background-color: red;
    color: white;

}
.panel-heading {background-color: transparent !important; }

.text-justify {
  text-align: justify;
}
.height-ed {
	height: 35px;
}

.input-class {
padding-top: 5px;
padding-bottom: 10px;
}

.moveall,.removeall {
/*	visibility: hidden;
	margin-top: -20px;*/
}

.form-control {

}


</style>
 <script>
	$(function () {
		$( "#job_title" ).autocomplete({
	      	select: function (event, ui) {
	    		var label = ui.item.label;
	    		var value = ui.item.value;
	  			document.valueSelectedForAutocomplete = value 
	  		},
			source: function(request, response) {
		        var results = $.ui.autocomplete.filter( gon.job_titles, request.term);
		        response(results.slice(0, 5));
	    	}
	    });

		var skillRequirements = $('select[name="job_work_experiences[id][]"]').bootstrapDualListbox();
		    $("#demoform").submit(function() {
		      alert($('[name="duallistbox_demo1[]"]').val());
		      return false;
		});
	});
</script>

	<% if @company.blank? %>
		<div class="panel panel-default" style="margin-top:100px; margin-bottom:100px;">
			<div class="panel-body"> 
	             <div id="products" class="row">
	                     <div style="padding:30px;" class="row">
	                            <p class="lead" style="text-align:center">You Must Create A Company Profile Before You Can Create A Job</p>
	                        <center><%= link_to 'Create Company', new_company_path ,:class => 'btn btn-default' %></center>
	        			</div>
	        	</div>
	        </div>
    	</div>
	<% else %>

	<div class="container-fluid">
	<div class="col-md-8 col-md-offset-1" style="margin-top:100px;">

		<% if @job.errors.any? %>
			    <div id="error_explanation">
			      <h3><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h3>
			      <ul>
			      <% @job.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
	  	<% end %>
  	</div>
		<!-- <div class="col-md-8 col-md-offset-2">   -->
	  		
		<!-- </div> -->

	<!-- <div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-body" style="padding-left:20px; padding-right:20px;">
				<h4>Job Title</h4>
				<p >To make job matching more accurate, we suggest you use the same job titles that applicants also use.Browse our suggested <a>Skilled Careers</a> List first. Create a new job position for your specific requirement if it is not among the choices.</p>
			</div>

			<div class="panel-body" style="padding-left:20px; padding-right:20px;">
				<h4>Job Skill Requirements</h4>
				<p>Get the skilled and talented candidates just for you. Specify the skills you want from each by picking from the <a>Vocational Skills</a>  we suggest.</p>
			</div>

			<div class="panel-body" style="padding-left:20px; padding-right:20px;">
				<h4>Work Attitudes</h4>
				<p>Select the applicants who come in highly recommended. Choose from among the <a>Work Attitudes</a> we suggest or enter a new one.</p>
			</div>

			<div class="panel-body" style="padding-left:20px; padding-right:20px;">
				<h4>Desired Company Culture</h4>
				<p>Invite candidates who love to be part of a company like yours. Choose from among the suggested <a>Company Culture</a> descriptions or add a new choice.</p>
			</div>

			<div class="panel-body" style="padding-left:20px; padding-right:20px;">
				<h4>Educational Attainment</h4>
				<p>Get the best-trained skilled trades workers for you.  We have compiled a list of suggested <a>Skilled Training Courses</a> for you to choose from.</p>
			</div>

			<div class="panel-body" style="padding-left:20px; padding-right:20px;">
				<h4>Work Experience</h4>
				<p>Access the candidates with the right level of skills. We have suggested choices for you at the <a>Work Experience</a> list.</p>
			</div>

		</div>
	</div> -->
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">
     		 <h3 style="text-align:left; color:black;">Create Job</h3>
  		  </div>
			<div class="panel-body" style="padding:20px;">
			<div class="input-class">
				<%= form_for :job, :url => {:action => :create} do |f| %>
				<h4 class="ng-binding">Company</h4><p>Invite candidates who love to be part of a company like yours. Choose from among the suggested Company Culture descriptions or add a new choice.</p>

	  			<div data-toggle="tooltip" class="dropdown" >
					<%= f.select :company_id,
		  				@company.all.map { |u| [u.name, u.id] },
		        	    { include_blank: false ,id: 'company_name'},
		            	{ class: 'chos	en-select full-width no-border height-ed' }
					%>
				</div>
				
			</div>
  		
			<div class="input-class">
			<h4 class="ng-binding">Job Title</h4>
  				 <p >To make job matching more accurate, we suggest you use the same job titles that applicants also use.Browse our suggested <a>Skilled Careers</a> List first. Create a new job position for your specific requirement if it is not among the choices.</p>
  				<%= f.text_field :position, :class => 'form-control input input-auto no-border',:id =>'job_title', :placeholder => 'Enter a descriptive title' ,:type => 'text_field' %>
  			</div>
  		<div class="input-class">
  			<h4 class="ng-binding">Location</h4>
  			<p>Get the skilled and talented candidates just for you. Specify the skills you want from each by picking from the Vocational Skills we suggest.</p>
  				<%= f.text_field :location, :class => 'form-control input input-auto no-border',:id =>'job_details', :placeholder => 'Enter location' ,:type => 'text_field' %>
  			</div>
  			<div class="input-class">
  			<h4 class="ng-binding">Details</h4>
  			<p>Invite candidates who love to be part of a company like yours. Choose from among the suggested Company Culture descriptions or add a new choice.</p>
  				<%= f.text_field :details, :class => 'form-control input input-auto no-border',:id =>'job_details', :placeholder => 'Enter details' ,:type => 'text_field' %>
  			</div>


		<h4 class="ng-binding">Work Experience</h4>
			<%= collection_select(:job_work_experiences, :id, @all_work_experiences, :id, :name,{},{:multiple => true, :size => 10}) %>
		
		    <!-- <option value="option1">Option 1</option>
		    <option value="option2">Option 2</option>
		    <option value="option3" selected="selected">Option 3</option>
		    <option value="option4">Option 4</option>
		    <option value="option5">Option 5</option>
		    <option value="option6" selected="selected">Option 6</option>
		    <option value="option7">Option 7</option>
		    <option value="option8">Option 8</option>
		    <option value="option9">Option 9</option>
		    <option value="option0">Option 10</option> -->
		
  		<!-- 	<div ng-controller='VocSkillsController'>
					<dualmultiselect options="demoOptions">
					</dualmultiselect>
			</div>
			<hr/>

			<div  ng-controller="WorkAttitudesController">
				<div class="demo">
					<dualmultiselect options="demoOptions">
					</dualmultiselect>
				</div> 		
			</div>
			<hr/>

			<div  ng-controller="CompanyCulController">
				<div class="demo">
					<dualmultiselect options="demoOptions">
					</dualmultiselect>
				</div> 		
			</div>
			<hr/>

			<div  ng-controller="TrainingCoursesController">
				<div class="demo">
					<dualmultiselect options="demoOptions">
					</dualmultiselect>
				</div> 		
			</div>
			<hr/>

			<div  ng-controller="WorkExperienceController">
				<div class="demo">
					<dualmultiselect options="demoOptions">
					</dualmultiselect>
				</div> 		
			</div>

			<div  ng-controller="EducationalController">
				<div class="demo">
					<dualmultiselect options="demoOptions">
					</dualmultiselect>
				</div> 		
			</div>
			<hr/>

			<div  ng-controller="AgeGenderController">
				<div class="demo">
					<dualmultiselect options="demoOptions">
					</dualmultiselect>
				</div> 		
			</div>
			<hr/> -->
			<div class="input-class">
			<h4 class="ng-binding">Additional info or instructions</h4>
			<p>Invite candidates who love to be part of a company like yours. Choose from among the suggested Company Culture descriptions or add a new choice.</p>
			<%= f.cktext_area :description, :class => 'form-control', :ckeditor => {:language => 'en', :toolbar => 'mini'} %>
			<%= f.submit "Post job", :class => "btn btn-primary pull-right", :style => 'margin-top:20px;' %>
			<% end %>
			</div>
			</div>
		</div>
		</div>
		</div>

		</div>
	</div>
	<% end %>