<%= simple_form_for(@notification) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :message %>
    <%= f.input :type %>
    <%= f.input :topic_id %>
    <%= f.input :checked %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
