<style>
.item-title {
  
 font-size:1.3rem;
 color:#000;
    
}

.notifications a.content {
 text-decoration:none;
 background:#ccc;

 }
    
.notification-item {
 padding:10px;
 margin:5px;
 }
</style>
<div class="notifications-wrapper">
   <a class="content" href="#">      
       <div class="notification-item">
        <h4 id="notification-text" class="item-title"><%= notification.parameters %></h4>
        <p class="item-info"><%= notification.updated_at %></p>
      </div>
    </a>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		var str = $( ".notification-text" ).text();
		var json = $.parseJSON(str);
		alert(json.title);
	}
</script>