

<!-- Three Line List with secondary info and action -->
<style>
.demo-list-three {
  width: 100%;
  background-color: white; 
}
</style>

<div class="container">
  <div style="margin-top: 100px;">
<div class="col-md-7 col-md-offset-1" style="margin-bottom: 80px;">
  <ul class="demo-list-three mdl-list">
    <% @notifications.each do |notification| %>
      <li class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-avatar">person</i>
          <% user = User.find(notification.owner_id)%>
          <span><%= link_to user.name, user_path(user) %></span>
          <span class="mdl-list__item-text-body">
               <%= notification.parameters[:message] %>
          </span>
        </span>
          <span class="mdl-list__item-secondary-content">
              <div class="row-fluid">
                <div class="span12">
                    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                      <i class="material-icons">check_circle</i>
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored-cancel">
                      <i class="material-icons">cancel</i>
                    </button>
                </div>
              </div>
          </span>
      </li>
    <% end %>
  </ul>
</div>

<div class="col-md-3">
  <ul class="demo-list-three mdl-list">
    <% @notifications.each do |notification| %>
      
        <li class="mdl-list__item mdl-list__item--three-line">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-avatar">person</i>
            <% user = User.find(notification.owner_id)%>
            <span></span>
            <span class="mdl-list__item-text-body">
                 <%= notification.parameters[:message] %>
            </span>
          </span>
        </li>
      <% end %>
  </ul>
</div>
</div>
  </div>


<style type="text/css">
  a { 
    display:block; 
  }
  a.inline {
    display:inline;
  }

  .mdl-button.mdl-button--colored {
    color: green; 
  }

  .mdl-button.mdl-button--colored-cancel {
    color: red; 
  }

</style>
