<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @notification.user %>
</p>

<p>
  <b>Message:</b>
  <%= @notification.message %>
</p>

<p>
  <b>Type:</b>
  <%= @notification.type %>
</p>

<p>
  <b>Topic:</b>
  <%= @notification.topic_id %>
</p>

<p>
  <b>Checked:</b>
  <%= @notification.checked %>
</p>


<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
