<div class="row">
    <div class="col-md-12">
        <div class="col-xs-12 col-sm-12">
            <h3 style="margin-left:0px; padding:left:0px;"><%= @user.name %></h3>
            <p id="btn-goals"><strong>Wants to work as: </strong> <%= @goal.position %> </p>

            <div id="goals-div" style="margin-top:10px;">
                <%= render :partial => 'goals/form' %>
            </div>
            
            <p>
                <strong>Skills: </strong>
                <% if @skills.count >= 1 %>
                    <% @skills.each do |skill| %>
                        <span class="tags"><%= skill.description %></span>
                    <% end %>
                <% else %>
                    <span class="tags">Add a new skill</span>
                <% end %>
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <iframe src="http://www.youtube.com/embed/KgMttr4Vc" frameborder="0" allowfullscreen width="100%" height="300px">
        </iframe>
    </div>
</div>
