<style>
.clear-space {
    margin: 0px;
    padding: 0px;
}


</style>
  
        <h4>Collaborate</h4>
    <div class="input-group">
        <textarea style="width:100%" rows="3" placeholder="What's up?"></textarea>
        <button style="margin:5px;"type="button" class="btn btn-default pull-right">Add</button>
	 </div>
    <ul data-brackets-id="12674" id="sortable" class="list-unstyled ui-sortable clear-space">
        <strong class="pull-left primary-font">James</strong>
        <small class="pull-right text-muted">
           <span class="glyphicon glyphicon-time"></span>7 mins ago</small>
        </br>
        <li class="ui-state-default clear-space">Lorem ipsum dolor sit amet, con </li>
        </br>
         <strong class="pull-left primary-font">Taylor</strong>
        <small class="pull-right text-muted">
           <span class="glyphicon glyphicon-time"></span>14 mins ago</small>
        </br>
        <li class="ui-state-default clear-space">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
        
    </ul>
