<script>
$(function () {
  var slick = $('.stack').slick({
    variableWidth: true,
    swipeToSlide: true,
     slidesToShow: 2,
     infinite: false
  });

  var slider = $('.slider').slider({
    max: 100,
    min: 0,
    value: 93
  });

  $(".slider").on("slide mouseenter mousedown",function(event)  {
      event.stopPropagation();
    });
  });
</script>

<style>
/**
Slick
*/


.boxes {
    height: 170px;
    width: 150px;
    display: inline;
    margin: 5px;
    text-align: center;
    display: table;
}
.slick-slide {
    text-align: center;
    cursor: pointer;
    transform: scale(0.9);
}
.slick-center {
    transition: all 0.5s;
    transform: scale(1);
}
h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    
    height: 100px;
    padding: 0 78px;
    margin: 0 auto;
}
.slider {
    width: 120px;
    margin: 0 auto;
}
h2 {
    font-size: 0.850em;
    text-transform: uppercase;
}
a:link {
    color: #0266C8;
    text-decoration: none;
}

p {
  margin:0px;
  padding: 0px;
  text-align: left;
}
</style>



<p style="margin-left:10px">Documents<span style="align=right">
  <a id="add-document">Add</a><a>Edit</a></span></p>
  
<div id="div-add-docu" style="display:none">
    <%= render :partial => "documents/form" %>
  </div>

<div class="stack">
 <% @results.each do |item| %>
          <% item[:video].each do |key, value| %>
            <% if key == :payload_mobile_url %>
            <div class="boxes">
              <a href="<%= user_interest_url(item.user_id, item.id) %>">
              <video width="150" height="120">
                <source src="<%= value if key == :payload_mobile_url %>" type="video/mp4">
              </video>
             </div>
            </a>
            <% end %>    
          <% end %>
        <% end %>
</div>
