<!-- For Profile -->
<style>

.glyphicon-user {
   font-size:50px;
}

.dashModule i.fa.icon {
    font-size: 55px;
    color: #C1C1C1;
    line-height: 75px;
}

.dashModule {
    text-align: center;
    position: relative;
    margin-bottom: 28px;
    height: 203px;
    background-color: white;
    border: 1px solid #E3E3E3;
    border-radius: 5px;
    padding: 17px 0px 20px;
}

.lightGray, .medGray, a.lightGray, a.lightGray:visited {
    color: #BBB !important;
}

.dBlock {
    display: block !important;
}

.dashModule span.title {
    font-weight: 400;
    font-size: 17px;
    display: block;
    width: 100%;
    text-align: center;
    padding: 0px 15px;
    line-height: 1.2em;
    color: #323436;
}

.dashModule a.hi{
    font-weight: 700;
    font-size: 17px;
    display: block;
    width: 100%;
    text-align: center;
    padding: 0px 15px;
    color: #323436;
}

.dashModule .cta.btnTiny {
    display: inline-block;
    margin: 0px auto 8px;
    min-width: 100px;
    font-size: 12px;
}

a.btnTiny:focus, button.btnTiny:focus, input.btnTiny:focus, label.btnTiny:focus {
    outline: 0px none;
    border-color: #CCC;
}

.fa-plus-circle:hover {
    color: red;
}

.subtitle {
  font-weight: 300;
}

/* unvisited link */
a:link {
    color: #BBB;
}

/* visited link */
a:visited {
    color: #BBB;
}

/* mouse over link */
a:hover {
    color: #BBB;
}

/* selected link */
a:active {
    color: #BBB;
}

</style>

<div class="container-fluid header-image ">
<div class="container" style="margin-top:120px; margin-bottom:100px;">
  <div class="row-fluid">
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="panel panel-default dashModule">
          <i style="opacity: 1;" class="icon fadeIn fa fa-plus-circle"></i>
          <span class="title">Create Job</span>
        </a>
        <span class="subtitle"><a href="/jobs/new" class="lightGray dBlock">Counter: Unlimited</a></span>
        <a href="/jobs/new" class="cta btnTiny lightGray dBlock">Create Job</a>
      
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="panel panel-default dashModule">
        <a href="<%= jobs_url %>" class="mainLink centerBlock">
          <i style="opacity: 1;" class="icon fadeIn fa fa-briefcase"></i>
          <span class="title">My Jobs</span>
        </a>
        <span class="subtitle"><a href="<%= jobs_url %>" class="lightGray dBlock">0 Job(s)</a></span>
         <a href="<%= jobs_url %>" class="cta btnTiny">Manage Jobs</a>
    
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="panel panel-default dashModule">
        <a href="<%= candidates_url %>" class="mainLink centerBlock">
          <i style="opacity: 1;" class="icon fadeIn fa fa-users"></i>
          <span class="title">My Candidates</span>
        </a>
        <span class="subtitle"><a href="<%= candidates_url %>" class="lightGray dBlock">25 Candidates</a></span>
         <a href="<%= candidates_url %>" class="cta btnTiny">Manage Candidates</a>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="panel panel-default dashModule">
        <a href="<%= search_path %>/candidates" class="mainLink centerBlock">
          <i style="opacity: 1;" class="icon fadeIn fa fa-search"></i>
          <span class="title">Search Candidates</span>
        </a>
        <span class="subtitle"><a href="<%= search_path %>/candidates" class="lightGray dBlock">Over 2,500,00 candidates</a></span>
         <a href="<%= search_candidates_path %>" class="cta btnTiny">Search Candidates</a> 
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="panel panel-default dashModule">
        <a href="" class="mainLink centerBlock">
          <i style="opacity: 1;" class="icon fadeIn fa fa-sitemap"></i>
          <span class="title">Users</span>
        </a>
        <span class="subtitle"><a href="" class="lightGray dBlock">Manage Users</a></span>
          <a href="" class="cta btnTiny">Add User</a>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="panel panel-default dashModule">
        <a href="/companies/new" class="mainLink centerBlock">
          <i style="opacity: 1;" class="icon fadeIn fa fa-building"></i>
          <span class="title"><%= link_to 'Hiring Companies' , user_companies_path(current_user) ,:class => 'hi' %></span>
        </a>
        <span class="subtitle"><a href="/companies/new" class="lightGray dBlock">0 Companies</a></span>
         <a href="/companies/new" class="cta btnTiny">Add Companies</a>
      </div>
    </div>

  </div>
</div>
</div>