  <div class="panel panel-default">
    <div class="panel-body">
    <div class="col-xs-12 col-sm-12 text-center">
        <%= image_tag @user.avatar.url(:medium), :class => "img-responsive center-block" %>
    </div>
  </div>
    <div class="panel-body"> 
      <div class="col-md-8">
        <h4>Work Experience<h4>
      </div>
      <div class="col-md-4">
        <%= link_to "Add","#", :id => 'work-experience' , :class => 'btn btn-default btn-xs'%>
      </div>
    </div>

    <div id="professions-div" class="panel-body well">
      <%= render :partial => 'professions/form' %>
    </div>

    <% @professions.each do |profession| %>
      <div class="items panel-body">
        <p><%= profession.job_title%></p>
        <p>
          <%= profession.start_date %> - 
          <%= profession.end_date %>
        </p>
      </div>
    <% end %>

    <div class="panel-body">
      <div class="col-md-8">
        <h4>Trainings and Certifications</h4>
      </div>
      <div class="col-md-4">
        <%= link_to "Add","#", :id => 'trainings-experience' , :class => 'btn btn-default btn-xs'%>
      </div>
    </div> 

    <div id="trainings-div" class="panel-body well">
      <%= render :partial => 'trainings/form' %> 
    </div>

    <% @trainings.each do |training| %>
      <div class="items panel-body">
        <p><%= training.name%></p>
        <p><%= training.company_name%></p>
        <p>
          <%= training.start_date %> - 
          <%= training.end_date %>
        </p>
      </div>
    <% end %>
  </div>