<style type="text/css">
.div-job-list {
	margin-bottom: 15px;
}
.h5 {
  margin-top: 0px;
  padding: 0px;
}
</style>

<div class="panel panel-default">
   <div class="panel-heading">
  		<h5>Suggested Jobs</h5>
  </div>
  <div class="panel-body">

  	<div class="div-job-list">
  
     <p class="list-group-item-text">Mobext</p>
  	 <p class="list-group-item-text">Mobext</p>
  	 <button type="button" class="btn btn-default btn-xs">Apply</button>
  	 </div>
  
  	 	<div class="div-job-list">
  	<h5>Ios Developer</h5>
  	 <p class="list-group-item-text">Skillex Inc.</p>
  	  <button type="button" class="btn btn-default btn-xs">Apply</button>
  	 </div>

  	  	<div class="div-job-list">
  	<h5>Welder</h5>
  	 <p class="list-group-item-text">Animation.org</p>
  	  <button type="button" class="btn btn-default btn-xs">Apply</button>
  	 </div>

  </div>

</div>