<!-- view to be inflated -->
<div class="col-lg-3 col-xl-2 col-md-4 col-sm-6 col-xs-12 mb30">
  <div class="panel panel-default">
    <div class="header_cap" style="background-color:#7F7878; height:20px;">
    </div>
    <div class="job_content">
            <div class="centerBlock">
              <img class="center-block img-circle" src="http://placehold.it/100x100" alt="Worldlink" class="companyLogo" onerror="this.onerror=null;this.src='https://d2jutb8bry7gi8.cloudfront.net/zrs/b5d11702/img/chair-icon-gray.png?error';" width="100" height="100">
            </div>
      <a class="clickable_target" href="/jobs/worldlink-5b0c7ed3/android-software-engineer-ab5e6535">
        <h4 class="center-text" title="Android Software Engineer">Mark Anthony Cadag</h4>
      </a><!-- end main link -->
      <p class="center-text">
        <span class="truncate">Want to work as: Android developer</span>
      </p>
      <p class="center-text">
        <span class="truncate">Quezon City</span>
      </p>
                  <div>
        <div class="interviewLink alert alert-warning p15 clearfix centerContent" style="display:none;">
          <p class="tCenter">To complete your application, please answer interview questions:</p>
          <a class="clickable_target btn btn-small orangeText w80pTablet w80pTabletSmall mb5Phone" href="/jobs/worldlink-5b0c7ed3/android-software-engineer-ab5e6535">
            <i class="fa fa-question-circle font14 ml-3"></i> <strong>Begin Interview</strong>
          </a>
        </div>
        <div class="overflowAuto" style="max-height: 180px;">
           <p></p><p><strong>About Mark Anthony Cadag </strong></p><p>Depending on the experience and technical skills, an Android software engineer with our client will be deeply involved in design, implementation and commercialization of specific features on Android, or will be working on carrier applications and services integration, debugging, and on communication with carriers and 3rdparties.</p><p>Job Duties</p><ul><li>Work with carriers, product management teams, and Samsung HQ R&amp;D to commercialize required software features and resolve any critical issues in the process of device commercialization.</li><li>Android engineer: design, implement, test, and maintain Android application and Android system/framework features. Perform root cause analysis of issues in carrier applications and services.</li></ul><p><strong>Desired Skills &amp; Experience</strong></p><p>Qualifications</p><ul><li>Industry candidates are required to have at least 2 years of work experience on Android.</li><li>Candidates with demonstrable expertise in Android Application level development or with Android framework.</li><li>Must have developed one or two non-trivial Android applications in the recent past. Candidates who have apps published in app stores are preferred.</li><li>Fluent in Java and C/C++ programming. Expertise with object-oriented design and development mandatory.</li><li>Excellent knowledge of fundamentals of computer science – operating systems, data structures, algorithms, and IP networking concepts–is mandatory.</li><li>Need familiarity with SMS and MMS, Telephony, Call UI phone applications (preferred).</li><li>Strong sense of project ownership required. Self-motivated and comfortable to learn and solve complicated problems in new technical areas under pressure.</li><li>Minimally Bachelor’s degree in Computer Science is required; MS CS preferred</li></ul>                      <p>About Worldlink:</p>
            <p>Who is WorldLink? <br>  <br> We're going to shape tomorrow. We've kicked convention and "yes men" to the curb. We are technology people, talent people - the people who are head down and up for a challenge. We pound ones and zeros into results that matter. We don't care what language you speak, whether it's Java, C++, Python, Ruby on Rails or English. If you've got passion, we've got a place. We cut the cord and push the freedom that a mobile world provides. It's the freedom that spawns new technology, more creativity and the power to stretch the world you want to live in. We're inside the customer's head and know what makes them tick. <br>  <br>  We find talent, we create teams, we build organizations. We solve the toughest technology challenges, and we will do it for you.</p>
        </div>
        </div>

                <div class="borderTop pt15">
                            <a href="/jobs/worldlink-5b0c7ed3/android-software-engineer-ab5e6535" id="ab5e6535" class="btn btn-default center-block" style="margin:10px;"><i class="fa fa-hand-o-up font16 greenText"></i>Recommend</a>
                          <div class="processOneClick p4 tCenter" style="display:none;"><i class="fa fa-spinner fa-spin fa-2x greenText"></i></div>
        <div class="greenText successMessage whitePanel br4 p7 tCenter fw9 font14" style="display:none;">
          <i class="fa fa-check"></i> Applied
        </div>
      </div>
    </div>
  </div>
</div>