<style>
.search {
    background-color:#8e44ad;
}
.col-lg-8 .panel-body {
    padding: 6px;
}
</style>
<!-- For Profile -->
<div class="container" style="padding-top:80px">

   <div class="col-lg-12">
      <div class="panel panel-default">
          <div class="search" style="height:15px;"> </div>
              <div class="panel-body">  
                  <div class="col-lg-12 text-center">
                      <div class="col-lg-4">
                        <%= image_tag @user.avatar.url(:medium), :class => "img-responsive center-block",size: "200x200" %>
                        <center><h4><%= current_user.name %></h4></center>
                      </div>
                      <div class="col-lg-8">
                          <h4>My Job Qualifications</h4>
                          <div class="panel-body">
                              <div class="col-md-4">
                                <input class="form-control input-md input-auto no-border" style="width:100%" placeholder="Position"></input>
                              </div>
                              <div class="col-md-4">
                                <input class="form-control input-md input-auto no-border" style="width:100%" placeholder="Work Experience"></input>
                              </div>
                              <div class="col-md-4">
                                  <input class="form-control input-md input-auto no-border" style="width:100%" placeholder="Training"></input>
                              </div>
                         </div>

                          <div class="panel-body">
                              <div class"row">
                                <div class="col-md-4">
                                  <input class="form-control input-md input-auto no-border" style="width:100%" placeholder="Education"></input>
                                    </div>
                                <div class="col-md-4">
                                    <input class="form-control input-md input-auto no-border" style="width:100%"placeholder="Age"></input>
                                </div>
                              <div class="col-md-4">
                                  <input class="form-control input-md input-auto no-border" style="width:100%" placeholder="Location"></input>
                              </div>
                              </div>
                          </div>

                          <div class="panel-body">
                              <div class="col-md-12">
                                      <input class="form-control input-md input-auto no-border" id="skills" style="width:100%" placeholder="Skill Requirements"></input>
                                  </div>
                          </div>
                          <div class="panel-body">
                              <div class="col-md-12">
                                      <input class="form-control input-md input-auto no-border" id="skills" style="width:100%" placeholder="Work Attitudes"></input>
                                  </div> 
                          </div>
                    </div>
                </div>
            </div>
      </div>

    <div class="col-lg-12">
       <div class="panel panel-default">
      <div class="col-lg-8">
        <div class="panel panel-default">
          <div class="search" style="height:15px;"> </div>
           <div class="panel-body">
             <%= render :partial => 'skills' %>
           </div>
        </div>

      </div>

       <div class="col-lg-4">
        <div class="panel panel-default">
          <div class="search" style="height:15px;"> </div>
              <div class="panel-body">
                Smaple job list    
              </div>
        </div>
       </div>
       <div class="col-lg-8">
        <div class="panel panel-default">
          <div class="search" style="height:15px;"> </div>
           <div class="panel-body">
             <%= render :partial => 'recommendations' %>
           </div>
        </div>

      </div>
</div>
    </div>
</div>
</div>