<script>
$(function () {
  var slick = $('.stack').slick({
    variableWidth: true,
    swipeToSlide: true,
     slidesToShow: 2,
     infinite: false
  });

  var slider = $('.slider').slider({
    max: 100,
    min: 0,
    value: 93
  });

  $(".slider").on("slide mouseenter mousedown",function(event)  {
      event.stopPropagation();
    });

   $("#add-skill").click(function(){
       $("#div-add-skill").slideToggle();
   });

  });


</script>


<style>
/**
Slick
*/


.boxes {
    height: 170px;
    width: 150px;
    display: inline;
    margin: 5px;
    text-align: center;
    display: table;
}
.slick-slide {
    text-align: center;
    cursor: pointer;
    transform: scale(0.9);
}
.slick-center {
    transition: all 0.5s;
    transform: scale(1);
}
h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    
    height: 100px;
    padding: 0 78px;
    margin: 0 auto;
}
.slider {
    width: 120px;
    margin: 0 auto;
}
h2 {
    font-size: 0.850em;
    text-transform: uppercase;
}
a:link {
    color: #0266C8;
    text-decoration: none;
}

p {
  margin:0px;
  padding: 0px;
  text-align: left;
}

</style>                                                  



<!-- Modal candidate-->
<div class="modal fade" id="myModalVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <iframe width="420" height="315" ng-src="" control></iframe>
        </div>
      </div>
    </div>
  </div>

<p style="margin-left:10px">Skills Video<span style="align=right">
  <a id="add-skill">Add</a><a>Edit</a></span></p>
  
<div id="div-add-skill" style="display:none">
    <%= render :partial => "interests/form" %>
  </div>

<div class="stack">
 <% @results.each do |item| %>
          <% item[:video].each do |key, value| %>                            
            <% if key == :payload_mobile_url %>
            <!-- Button trigger modal -->
            <div class="boxes">
              <a  data-toggle="modal" data-target="#myModalVideo">
              <video width="150" height="120">
                <source src="<%= value if key == :payload_mobile_url %>" type="video/mp4">
              </video>
           
              <p>Title</p>
              <p>by: Mark Anthony</p>
              <p style="height:14px;">20 views<span> 3 days ago</span></p>
             </div>
            </a>
            <% end %>    
          <% end %>
        <% end %>
</div>
