<style>
.full-width {
   width:100%;
}
.no-border{
  border-radius: 0 !important;
}
.height-ed {
  min-height: 34px;
}

</style>
<div class="container-fluid">
<div class="container">

<div class="panel panel-default">

  <div class="panel-heading" style="background-color:#7F7878;" >
    <h4 style="color:white">Search users</h4>
  </div>

  <div class="panel-body">
  
  <div class="col-md-3"style="margin-top:10px;">
    <select class="full-width no-border height-ed">
    </select>
  </div>
  
  <div class="col-md-3" style="margin-top:10px;">
     <select class="full-width no-border height-ed">
    </select>
  </div>

  <div class="col-md-3"style="margin-top:10px;">
  <select class="full-width no-border height-ed">
    </select>
  </div>


  <div class="col-md-3"style="margin-top:10px;">
       <select class="full-width no-border height-ed">
    </select>
  </div>

  <div class="col-md-3"style="margin-top:10px;">
 <select class="full-width no-border height-ed">
    </select>
  </div>

   <div class="col-md-3" style="margin-top:10px;">
    <select class="full-width no-border height-ed">
    </select>
  </div>

   <div class="col-md-3" style="margin-top:10px;">
         <select class="full-width no-border height-ed">
    </select>
  </div>

   <div class="col-md-3" style="margin-top:10px;">
      <select class="full-width no-border height-ed">
    </select>
  </div>


   <div class="col-md-3" style="margin-top:10px;">
  <select class="full-width no-border height-ed">
    </select>
  </div>


   <div class="col-md-3" style="margin-top:10px;">
        <select class="full-width no-border height-ed">
    </select>
  </div>

  <div class="col-md-12 pull-right" style="margin-top:10px;">
    <button class="btn btn-success pull-right" type="submit">Search</button>
  </div>
</div>
</div>
</div>
</div>
