<style>

.overflowAuto {
  overflow: auto;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.center-text {
  text-align: center;
}

.job_content{
  padding-top: 10px;
}


</style>

<!--- for lopp job list -->
<div class="container">
 <%= render :partial => 'list_of_users'%>
 <%= render :partial => 'list_of_users'%>

 <%= render :partial => 'list_of_users'%>
 <%= render :partial => 'list_of_users'%>

 <%= render :partial => 'list_of_users'%>
 <%= render :partial => 'list_of_users'%>
</div>