<style>
/*!
 * Start Bootstrap - One Page Wonder HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    margin-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background: url("/assets/header-web-candidate.jpg"); no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.headline {
    padding: 120px 0;
}

.headline h1 {
    font-size: 130px;
}

.headline h2 {
    font-size: 77px;
}

.featurette-divider {
    margin: 80px 0;
}

.featurette {
    overflow: hidden;
    padding:30px;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 50px;
}

footer {
    margin: 50px 0;
}

@media(max-width:1200px) {
    .headline h1 {
        font-size: 140px;
    }

    .headline h2 {
        font-size: 63px;
    }

    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 35px;
    }
}

@media(max-width:991px) {
    .headline h1 {
        font-size: 105px;
    }

    .headline h2 {
        font-size: 50px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
    }

    .featurette-heading {
        font-size: 30px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 15px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }
}

@media(max-width:668px) {
    .headline h1 {
        font-size: 70px;
    }

    .headline h2 {
        font-size: 32px;
    }

    .featurette-divider {
        margin: 30px 0;
    }
}

@media(max-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

    .headline h1 {
        font-size: 60px;
    }

    .headline h2 {
        font-size: 30px;
    }
}

@media(max-width:375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

    .featurette-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
}

.input-login {
    font-size: 20px;
    padding: 0px 1rem;
    border: 1px solid #CCC;
    font-family: Arial,sans-serif;
    color: #000;
    height: 48px;
    width: 330px;
}

</style>

    <!-- Full Width Image Header -->
    <header class="header-image" style="height:500px; margin-top:50px">
        <div class="headline">
            <div class="container-fluid">
                <h2><strong>Get the best job with your video profile.</strong></h2>
                <h3><strong>Create your Free account now:</strong></h3>

                <form class="form-inline" style="display:inline-block;">
                    <div class="form-group ">
                        <input type="textfield" class="form-control input-login" id="exampleInputName2" placeholder="Your Name">
                    </div>
                <div class="form-group">
                <input type="textfield" class="form-control input-login" id="exampleInputEmail2" placeholder="Work Email">
                </div>
               <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalCandidate">Create Free Account</button>
            </form>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container-fluid" style="background-color:white">
   <hr class="featurette-divider">
        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-rounded img-responsive pull-left" src="/assets/featurette-lookgood.jpg">
            <h2 class="featurette-heading">Look really good
                <span class="text-muted">for your next job.</span>
            </h2>
            <p class="lead">Let your happy clients and coworkers recommend you 
through video testimonials and endorsements.</p>
        </div>
 <hr class="featurette-divider">
     <div class="featurette" id="contact">
       <img class="featurette-image img-rounded img-responsive pull-right" src="/assets/featurette-30sec.jpg">
            <h2 class="featurette-heading">Show your best with 30-second videos,
                <span class="text-muted">free and unlimited.</span>
            </h2>
           <p class="lead">Maximize the power of videos to showcase your unique skills, talents and achievements.</p>
           
        </div>

 <hr class="featurette-divider">
        <!-- Second Featurette -->
        <div class="featurette" id="services">
                  <img class="featurette-image img-rounded img-responsive pull-left" src="/assets/featurette-matchingreq.jpg">
            <h2 class="featurette-heading">Apply to a job
                <span class="text-muted">by matching your featured videos with the requirements.</span>
            </h2>
            <p class="lead">Prove that you are qualified by picking videos from your profile to show recruiters that you indeed, got the required skills and work attitudes.</p>
        </div>
 <hr class="featurette-divider">

        <div class="featurette" id="services">
                  <img class="featurette-image img-rounded img-responsive pull-right" src="/assets/featurette-requirements.jpeg">
            <h2 class="featurette-heading">
 Process your application faster 
                <span class="text-muted">by posting your HR documents.</span>
            </h2>
            <p class="lead">Store your updated work documents in your profile to give recruiters ready access to these when they evaluate your application.</p>
        </div>
                <div style="margin-top:100px"></div>
    </div>
    <!-- /.container -->
