<!-- Uses a header that contracts as the page scrolls down. -->
<style>
	.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
	  padding-right: 0;
	}

	.demo-card-square.mdl-card {
	  width: 100%;
	  height: 320px;
	}
	.demo-card-square > .mdl-card__title {
	  color: #fff;
	  background:
	    url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
	}

	.row {
		margin: 20px;
	}

	.col-md-3 {
		padding: 20px;
	}

</style>

    <div class="page-content row" style="margin-top: 100px;">
		<div class="col-md-3">
			<div class="demo-card-square mdl-card mdl-shadow--2dp">
				<button id="demo-menu-lower-left"
				        class="mdl-button mdl-js-button mdl-button--icon" style=" margin: 5px;">
				  <i class="material-icons">more_vert</i>
				</button>

				<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
				    for="demo-menu-lower-left">
				  <li class="mdl-menu__item">Manage Group</li>
				  <li class="mdl-menu__item">Invite Member</li>
				  <li class="mdl-menu__item">Leave Group</li>
				</ul>
			<div>
				
			</div>
			
			<div class="mdl-card__title mdl-card--expand">
				
			    <h2 class="mdl-card__title-text">Villa Amor <br>20 members</h2>
			</div>
			  <div class="mdl-card__supporting-text">
			  	  <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">account_box</div>
			  	   <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">video_library</div>
			  </div>
			 
			</div>
		</div>

    </div>
</script>    

