<div class="page-content row">
  <div class="container" style=" margin-bottom: 100px;"">
  <div style="margin-top: 100px;">

    <div class="col-md-offset-1 col-md-10 col-xs-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-4 text-center">
              <img src="http://api.randomuser.me/portraits/women/21.jpg" alt="" class="center-block img-circle img-thumbnail img-responsive">
            </div>
            <!--/col--> 
            <div class="col-xs-12 col-sm-8" style="margin-bottom: 20px;">
              <h2><%= @user.name %></h2>
              <p><strong>About: </strong> <%= @user.about %> </p>
              <p><strong>Skills: </strong>
                <span class="label label-info tags">html5</span> 
                <span class="label label-info tags">css3</span>
                <span class="label label-info tags">jquery</span>
                <span class="label label-info tags">bootstrap3</span>
              </p>
            </div>

            <% @testimonials.each do |testimonial| %>
                <div class="col-md-4 col-sm-4 col-xs-6"">
                  <%= link_to testimony_path(testimonial) do %>
                    <img class="img-responsive hey" src="<%= testimonial.video.payload_mobile_url %>" />
                  <% end %>
                </div>
            <% end %>
             <div class="col-md-4 col-sm-4 col-xs-6"">
                  <%= link_to root_path do %>
                    <img class="img-responsive hey" src="http://imgsv.imaging.nikon.com/lineup/lens/zoom/normalzoom/af-s_dx_18-140mmf_35-56g_ed_vr/img/sample/sample1_l.jpg" />
                  <% end %>
              </div>
         
          <!--/row-->
        </div>
        <!--/panel-body-->
      </div>
      <!--/panel-->
    </div>
  </div>
</div>
              
</div>

<style type="text/css">
  
.hey {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:25px;
    min-height: 200px;
}

img:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
 
}

</style>

