<h1>Listing stored_testimonies</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stored_testimonies.each do |stored_testimony| %>
  <tr>
    <td><%= stored_testimony.name %></td>
    <td><%= link_to 'Show', stored_testimony %></td>
    <td><%= link_to 'Edit', edit_stored_testimony_path(stored_testimony) %></td>
    <td><%= link_to 'Destroy', stored_testimony, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stored testimony', new_stored_testimony_path %>
