<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @stored_testimony.name %>
</p>


<%= link_to 'Edit', edit_stored_testimony_path(@stored_testimony) %> |
<%= link_to 'Back', stored_testimonies_path %>
