<style>
.clear-space {
    margin: 0px;
    padding: 0px;
}


</style>
<div style="margin:100px">

	<div class="header_user">
		<%= image_tag nominee.user.avatar.url, :class => "media-object profile_image", :style =>   "width:60px;height:60px;"%>
	</div>

	<%= video_tag "https://new-famous-production.s3.amazonaws.com/videos/payloads/38/original/awVZgYQ_460sv.mp4", :size => "320x240", :controls => false %>
</div>
  	

