<%= form_for(@company_culture) do |f| %>
  <% if @company_culture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company_culture.errors.count, "error") %> prohibited this company_culture from being saved:</h2>

      <ul>
      <% @company_culture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.number_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
