<h1>Listing company_cultures</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Company</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @company_cultures.each do |company_culture| %>
  <tr>
    <td><%= company_culture.name %></td>
    <td><%= company_culture.company_id %></td>
    <td><%= company_culture.user_id %></td>
    <td><%= link_to 'Show', company_culture %></td>
    <td><%= link_to 'Edit', edit_company_culture_path(company_culture) %></td>
    <td><%= link_to 'Destroy', company_culture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company culture', new_company_culture_path %>
