<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company_culture.name %>
</p>

<p>
  <b>Company:</b>
  <%= @company_culture.company_id %>
</p>

<p>
  <b>User:</b>
  <%= @company_culture.user_id %>
</p>


<%= link_to 'Edit', edit_company_culture_path(@company_culture) %> |
<%= link_to 'Back', company_cultures_path %>
