<%= simple_form_for(@stored_user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :last_name %>
    <%= f.input :first_name %>
    <%= f.input :middle_initial %>
    <%= f.input :training %>
    <%= f.input :mobile_number %>
    <%= f.input :brgy %>
    <%= f.input :town %>
    <%= f.input :province %>
    <%= f.input :country %>
    <%= f.input :gender %>
    <%= f.input :education %>
    <%= f.input :education %>
    <%= f.input :email %>
    <%= f.input :age %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
