<h1>Listing stored_users</h1>

<table>
  <tr>
    <th>Last name</th>
    <th>First name</th>
    <th>Middle initial</th>
    <th>Training</th>
    <th>Training start</th>
    <th>Training end</th>
    <th>Mobile number</th>
    <th>Brgy</th>
    <th>Town</th>
    <th>Province</th>
    <th>Country</th>
    <th>Gender</th>
    <th>Education</th>
    <th>Education</th>
    <th>Email</th>
    <th>Age</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stored_users.each do |stored_user| %>
  <tr>
    <td><%= stored_user.last_name %></td>
    <td><%= stored_user.first_name %></td>
    <td><%= stored_user.middle_initial %></td>
    <td><%= stored_user.training %></td>
    <td><%= stored_user.training_start %></td>
    <td><%= stored_user.training_end %></td>
    <td><%= stored_user.mobile_number %></td>
    <td><%= stored_user.brgy %></td>
    <td><%= stored_user.town %></td>
    <td><%= stored_user.province %></td>
    <td><%= stored_user.country %></td>
    <td><%= stored_user.gender %></td>
    <td><%= stored_user.education %></td>
    <td><%= stored_user.education %></td>
    <td><%= stored_user.email %></td>
    <td><%= stored_user.age %></td>
    <td><%= link_to 'Show', stored_user %></td>
    <td><%= link_to 'Edit', edit_stored_user_path(stored_user) %></td>
    <td><%= link_to 'Destroy', stored_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stored user', new_stored_user_path %>
