<p id="notice"><%= notice %></p>

<p>
  <b>Last name:</b>
  <%= @stored_user.last_name %>
</p>

<p>
  <b>First name:</b>
  <%= @stored_user.first_name %>
</p>

<p>
  <b>Middle initial:</b>
  <%= @stored_user.middle_initial %>
</p>

<p>
  <b>Training:</b>
  <%= @stored_user.training %>
</p>

<p>
  <b>Mobile number:</b>
  <%= @stored_user.mobile_number %>
</p>

<p>
  <b>Brgy:</b>
  <%= @stored_user.brgy %>
</p>

<p>
  <b>Town:</b>
  <%= @stored_user.town %>
</p>

<p>
  <b>Province:</b>
  <%= @stored_user.province %>
</p>

<p>
  <b>Country:</b>
  <%= @stored_user.country %>
</p>

<p>
  <b>Gender:</b>
  <%= @stored_user.gender %>
</p>

<p>
  <b>Education:</b>
  <%= @stored_user.education %>
</p>

<p>
  <b>Education:</b>
  <%= @stored_user.education %>
</p>

<p>
  <b>Email:</b>
  <%= @stored_user.email %>
</p>

<p>
  <b>Age:</b>
  <%= @stored_user.age %>
</p>


<%= link_to 'Edit', edit_stored_user_path(@stored_user) %> |
<%= link_to 'Back', stored_users_path %>
