<div class="container" style="margin-top:100px; margin-bottom:100px;" >
    <table id="table"></table>
</div>

<script>
    $('#table').bootstrapTable({
        url: "/users/<%= current_user.id %>/company_employees.json",
        search: true,
        pagination: true,
        showRefresh: true,
        iconsPrefix: 'fa',
        columns: [{
            field: 'user.name',
            title: 'Name',
            sortable: true
        }, {
            field: 'company.name',
            title: 'Email',
            sortable: true
        }, {
            field: 'company.website',
            title: 'Website',
            sortable: true
        }]
    });
    
    function operateFormatter(value, row, index) {
        return [
          
            '<a class="edit ml10" href="javascript:void(0)" title="Edit">',
                '<i class="glyphicon glyphicon-edit"></i>',
            '</a>',
            '<a class="remove ml10" href="javascript:void(0)" title="Remove">',
                '<i class="glyphicon glyphicon-remove"></i>',
            '</a>'
        ].join('');
    }

    window.operateEvents = {
        'click .edit': function (e, value, row, index) {
            window.location.href = "<%= jobs_url%>" + "/"+ row.id;
            console.log(value, row, index);
        },
        'click .remove': function (e, value, row, index) {
            alert('You click remove icon, row: ' + JSON.stringify(row));
            console.log(value, row, index);
        }
    };
</script>