<div class="well">
	<h4>Add New Skill</h4><br>
	  <%= form_tag({controller: "interests", action: "index"}, method: "post",multipart: true) do  %>
	    <input type="textfield" class="form-control input-md" name="interest[name]" placeholder="Title"><br>
	    <input type="textfield" class="form-control input-md" name="interest[description]" placeholder="Description"><br>
	    <input type="file" class="" name="video[payload]"><br>
	    <input type="hidden" name="user_id" value= <%= current_user.id %> >
	    <%= submit_tag :Save, class: "btn btn-success"%>
	    <button type="submit" id="btn-cancel-i" class="btn btn-primary">Cancel</button>
	  <% end %>
</div>
