<script>
$(function () {
  var slick = $('.stack').slick({
    centerMode: true,
    centerPadding: '80px',
    arrows: true,
    variableWidth: true,
    dots: true,
    swipeToSlide: true,
    focusOnSelect: true
  });

  var slider = $('.slider').slider({
    max: 100,
    min: 0,
    value: 93
  });

  $(".slider").on("slide mouseenter mousedown",function(event)  {
      event.stopPropagation();
    });
  });
</script>

<style>
/**
Slick
*/
html, body {
    font-family: Arial, sans-serif;
    font-size: 1em;
}

.slick-prev:before, .slick-next:before { font-family: FontAwesome; font-size: 40px; line-height: 1; color: red; opacity:1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }   

.slick-prev:before { content: "\f053"; }
[dir="rtl"] .slick-prev:before { content: "\f054"; }

[dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto; }
.slick-next:before { content: "\f054"; }
[dir="rtl"] .slick-next:before { content: "\f053"; }

.boxes {
    height: 250px;
    width: 175px;
    display: inline;
    margin: 1em;
    background: #ccc;
    text-align: center;
    font-weight: bold;
    display: table;
    border: 2px solid transparent;
    border-radius: 4px;
}
.slick-slide {
    text-align: center;
    cursor: pointer;
    transform: scale(0.9);
}
.slick-center {
    background: #fff;
    border: 2px solid #ccc;
    transition: all 0.5s;
    transform: scale(1);
}
h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    
    height: 100px;
    padding: 0 78px;
    margin: 0 auto;
}
.slider {
    width: 120px;
    margin: 0 auto;
}
h2 {
    font-size: 0.850em;
    text-transform: uppercase;
}
a:link {
    color: #0266C8;
    text-decoration: none;
}
</style>
<div class="stack">
 <% @results.each do |item| %>
          <% item[:video].each do |key, value| %>
            <% if key == :payload_mobile_url %>
            <div class="boxes">
              <a href="<%= user_interest_url(item.user_id, item.id) %>">
              <video width="300" height="300" controls>
                <source src="<%= value if key == :payload_mobile_url %>" type="video/mp4">
              </video>
             </div>
            </a>
            <% end %>    
          <% end %>
        <% end %>
</div>
