<div class="well">
<h4>Add New Document</h4><br>
<%= form_for :document, :url => {:action => :create } do |f| %>
 <!--

  <%# if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%#= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <%# @document.errors.full_messages.each do |msg| %>
        <li><%#= msg %></li>
      <%# end %>
      </ul>
    </div>
  <%# end %>
  -->
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description, :type => 'textfield' %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :payload %><br />
    <%= f.text_field :payload %>
  </div>
  <div class="actions">
    <%= f.submit :class => '"btn btn-success' %>
    <%= f.submit :class => '"btn btn-primary' %>

  </div>
<% end %>
</div>
