<h1>Listing documents</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Type</th>
    <th>Name</th>
    <th>Payload</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @documents.each do |document| %>
  <tr>
    <td><%= document.description %></td>
    <td><%= document.type %></td>
    <td><%= document.name %></td>
    <td><%= document.payload %></td>
    <td><%= link_to 'Show', document %></td>
    <td><%= link_to 'Edit', edit_document_path(document) %></td>
    <td><%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Document', new_document_path %>
