<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @document.description %>
</p>

<p>
  <b>Type:</b>
  <%= @document.type %>
</p>

<p>
  <b>Name:</b>
  <%= @document.name %>
</p>

<p>
  <b>Payload:</b>
  <%= @document.payload %>
</p>


<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
