<center>
  <div class="row" style="color:#FFF">
    <h2>Add New Award</h2>
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <%= form_tag({controller: "awards", action: "index"}, method: "post", class: "nifty_form", multipart: true) do  %>
          <input type="textfield" class="form-control input-lg" name="award[name]" placeholder="Title"><br>
          <input type="textfield" class="form-control input-lg" name="award[description]" placeholder="Description"><br>
          <input type="file" class="" name="video[payload]">
          <input type="hidden" name="video[title]" value="fromWeb"><br>
          <input type="hidden" name="video[description]" value="fromWeb"><br>
          <%= submit_tag :Save, class: "btn btn-primary"%>
        <% end %>
     </div>
     <div class="col-md-3"></div>
     </div>
</center>