<div class="container-fluid">
	<div class="col-md-8 col-md-offset-2">
        <ol class="breadcrumb">
          <li><a href="<%= user_url(@award.user_id) %>"><%= @user[0].name %></a></li>
          <li><a href="<%= user_testimonies_url(@award.user_id) %>">awards</a></li>
          <li class="active"><%= @award.description %></li>
        </ol>
    </div>

	<div class="row">
		<center>
			<div class=".col-xs-6 .col-md-4"> </div>
			<div class=".col-xs-6 .col-md-4">
				<video width="400" controls>
					<source src="<%= @award[:payload_mobile_url] %>" type="video/mp4">
				</video>
			</div>
			<div class=".col-xs-6 .col-md-4"> </div>
			<div class="fb-share-button" data-href="<%= user_award_url(@award.user_id, @award.id) %>" data-layout="button"></div>
		</center>
	</div>
</div>
