<article class="kanban-entry grab item" id="20" draggable="true">
    <div class="kanban-entry-inner">      
        <div class="kanban-label">

            <img src="http://placeholder.in/100" class="img-responsive img-rounded center-block full-width">
            <p style="margin-top:10px;">Solemn Joy</p>
            <p style="margin:0px;">Senior Android Developer at Famous.ph</p>
            <p style="margin:0px;" class="clear-space">Rating: 4/5<span class="pull-right"><a id="toggleRatings">Add/View Ratings</a></span></p>
            <div class="toggleRatings panel panel-default" style="display:none;">
                <div class="panel-body" style="padding:5px;">
                    <%= render :partial => 'users/rating_panel' %>
                </div>
            </div>


            <p style="margin:0px;" class="clear-space">Evaluator's Notes: 50<span class="pull-right"><a id="toggleNotes">Add/View Notes</a></span></p>
            <div class="toggleNotes panel" style="display:none;">
                <div class="panel-body" style="padding:5px;">
                 </div>
            </div>
                   <p style="text-align:right"><a style="margin:0px;" > <i class="fa fa-comments"></i> 2 Messages for Applicant</a></p>
        </div>
    </div>
</article> 