<style>

.filter-footer {
    height:15px;  
}
.stage {
  background-color:#1dcfac;
}
.date {
    background-color:#3498db;
}

.search {
    background-color:#8e44ad;
}

</style>

<div class="container-fluid" style="padding-top:100px; padding-bottom:100px;">
     <form class="form-inline" action="<%= candidates_path %>" method="get">
    <div class="col-lg-2" style="padding-top:17px;">
        <div class="panel panel-default">
            <div class="panel-body">
                BY STAGE
                <div class="radio">
                    <p><label><input type="radio" name="stage" value="all"> All</label></p>
                    <p><label><input type="radio" name="stage" value="short_list"> Short Listed</label></p>
                    <p><label><input type="radio" name="stage" value="interview"> For Interview</label></p>
                    <p><label><input type="radio" name="stage" value="hire"> Hire</label></p>
                </div>
            </div>
       
        </div>
        <!--<div class="panel panel-default">
            <div class="panel-heading">
                 BY RATING
            </div>
            <div class="panel-body">
                <div class="radio">
                    <label><input type="radio" name="optradio">Option 1</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="optradio">Option 2</label>
                </div>
                <div class="radio disabled">
                  <label><input type="radio" name="optradio">Option 3</label>
                </div>
            </div>
        </div> -->
        <div class="panel panel-default">
            <div class="panel-body">
                 APPLIED DATE
                <div class="radio">
                    <p><label><input type="radio" name="optradio"> All</label></p>
                    <p><label><input type="radio" name="optradio"> All</label></p>
                    <p><label><input type="radio" name="optradio"> Last Week</label></p>
                    <p><label><input type="radio" name="optradio"> Last Month</label></p>
                </div>
            </div>
        </div>
       <center> <button style="text-align:center; width:100%;"class="btn btn-default" href="/search/users">Advance Search ></button></center>
    </div>
    <div class="col-lg-10">
        <div class="panel-body">  
            <div class="form-group row">
                <input type="text" id="search-cand" class="form-control"  placeholder="Search Candidates" name="q" >
                    <button class="btn btn-default" type="submit" id="search" value="Submit">Search</button> 
                <div class="btn-group">
                    <a href="#" id="list" class="btn btn-default">
                        <span class="glyphicon glyphicon-th-list"></span>List</a>
                        <a href="#" id="grid" class="btn btn-default">
                            <spanclass="glyphicon glyphicon-th"></span>Grid
                        </a>
                </div>
            </div> 
        </div>
        <div class="panel panel-default">
            <div class="panel-body">  
                <div id="products" class="row">
                <% if @users.blank? %>
                     <div style="padding:30px;" class="row">
                        <% if params.has_key?(:q) %>
                            <p class="lead" style="text-align:center">No Result for <%= params[:q] %></p>
                        <% else %>
                            <p class="lead" style="text-align:center">No Candidates Yet</p>
                        <% end %>
                        <center><a style="text-align:center;"class="btn btn-default" href="/search/candidates">Discover More Profiles</a></center>
                    </div>
                <% else %>
                    <% @users.each do |user| %>
                        <div class="item-col  col-xs-4 col-lg-4">
                            <div class="thumbnail">
                                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                            <div class="caption">
                            <h4 class="group inner list-group-item-heading"><%= user.name %></h4>
                            <p class="group inner list-group-item-text">
                                Android Developer</p>
                            </div>
                            </div>
                        </div>
                    <% end %>
                <% end %>
                </div>
                </div>
            </div>
        </div>
     </div>
    </form> 
</div>


<script>
    $('#list').click(function(event) {
        event.preventDefault();
        $('#products .item-col').addClass('list-group-item');
    });
    $('#grid').click(function(event) {
        event.preventDefault();
        $('#products .item-col').removeClass('list-group-item');
        $('#products .item').addClass('grid-group-item');
    });
</script>

<style>

.col-lg-3 .panel {
    margin-bottom: 0px;
}


.item-col.list-group-item{
    float: none;
    width: 100%;
}

p.test {
    width: 11em; 
    word-wrap: break-word;
}

.tag.has-text_shadow {
    text-shadow: 0px 1px rgba(0, 0, 0, 0.32);
}
.tag.has-border {
    border: 1px solid #4D75AD;
}
.tag:hover {
    background: transparent linear-gradient(#4777BB, #3E68A2) repeat scroll 0% 0%;
}
.layout * {
    box-sizing: border-box;
}
.tag {
    border-radius: 2px;
    border: 1px solid transparent;
    display: inline-block;
    padding: 2px 20px 0px;
    margin-bottom: 7px;
    margin-right: 7px;
    background-color: #175BA0;
    color: #FFF;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    line-height: 25px;
    text-decoration: none;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0; 
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.link.is-blue {
    color: #3863A0;
    display: inline;
    text-decoration: none;
    transition-duration: 150ms;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: color, transform, text-shadow;
}
.skill_developer-name {
    font-family: "Helvetica Neue","Helvetica","Arial","sans-serif";
    letter-spacing: 0.01em;
    color: #3863A0;
    font-size: 26px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: -4px;
    position: relative;
    top: -7px;
}

.skill_developer-member_since:first-child, .skill_developer-awesome_developer:first-child {
    margin-left: 0px;
}
.skill_developer-member_since, .skill_developer-awesome_developer {
    position: relative;
    float: left;
    color: #3863A0;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
}

a {
    padding: 2px;
}
</style>