<div class="panel panel-default" id="<%= application.id %>">
    <div class="panel-body">
        <div class="dialog">
            <div class="content" >
                <div class="title"><%= application.job.position %>
                	<!---<i class="glyphicon glyphicon-bell pull-right"></i> -->
                </div><br>
                <div>
                    <%= application.job.details %> 
                    <% if !application.job.description.blank? %>
                        <%= application.job.description.html_safe %><br/>
                    <% end %>
                    <p class="pull-right">
                        <% if !application.job.created_at.blank? %>
                            <%= application.job.created_at.strftime("%B %d, %Y") %>
                        <% end %>
                    </p>
                    <%= link_to 'Answer Questions', @interest %>
                </div>
            </div>
        </div>
    </div>
	<div type="button" data-name="<%= application.user.name %>" data-id="<%= application.id %>" class="panel-footer" data-toggle="modal" data-target="#modal-details">
            <!-- Trigger the modal with a button -->
        <span class="glyphicon glyphicon-align-left"></span>  3</i>
    </div>
 </div>