    <div class="conatiner-fluid">
<div>
<section class="cd-faq" style="margin-top:100px;">
    <ul class="cd-faq-categories">
        <li>
            <a class="selected" href="#recruit">
                <p style="font-size:15px;">Recruiters</p>
            </a>
        </li>
        <li>
            <a href="#seekers">
                <p style="font-size:15px;">Job Seekers</p>
            </a>
        </li>
         <li>
            <a href="#recommendations">
                <p style="font-size:15px;">Recommendations</p>
            </a>
        </li>
         <li>
            <a href="#free_acc">
                <p style="font-size:15px;">Free Account</p>
            </a>
        </li>
        <li>
            <a href="#faq_and_app">
                <p style="font-size:15px;">Mobile App</p>
            </a>
        </li>
        <li>
            <a href="#faq_find_job">
                <p style="font-size:15px;">Find A Job</p>
            </a>
        </li>
        <li>
            <a href="#faq_apply">
                <p style="font-size:15px;">Application</p>
            </a>
        </li>
        <li>
            <a href="#faq_add_vid">
                <p style="font-size:15px;">Add Video</p>
            </a>
        </li>
        <li>
            <a href="#faq_docu">
                <p style="font-size:15px;">HR Documents</p>
            </a>
        </li>
    </ul> <!-- cd-faq-categories -->

    <div class="cd-faq-items">

        <ul id="recruit" class="cd-faq-group">
            <li class="cd-faq-title"><h2>Recruiters</h2></li>
            <% @faq_recruit.each do |faq_recruit| %>
             <li>
                <a class="cd-faq-trigger" href="#0"><p class="p-title"><%= faq_recruit.title %></p></a>
                <div class="cd-faq-content">
                    <p> <%= faq_recruit.description %></p>
                </div> <!-- cd-faq-content -->
            </li>
            <% end %>
        </ul>

         <ul id="seekers" class="cd-faq-group">
            <li class="cd-faq-title"><h2>Job Seekers</h2></li>
            <% @faq_seekers.each do |faq_seekers| %>
             <li>
                <a class="cd-faq-trigger" href="#0"><p class="p-title"><%= faq_seekers.title %></p></a>
                <div class="cd-faq-content">
                    <p> <%= faq_seekers.description %></p>
                </div> <!-- cd-faq-content -->
            </li>
            <% end %>
        </ul>

         <ul id="recommendations" class="cd-faq-group">
            <li class="cd-faq-title"><h2>Recommendations</h2></li>
            <% @faq_recommend.each do |faq_recommend| %>
             <li>
                <a class="cd-faq-trigger" href="#0"><p class="p-title"><%= faq_recommend.title %></p></a>
                <div class="cd-faq-content">
                    <p> <%= faq_recommend.description %></p>
                </div> <!-- cd-faq-content -->
            </li>
            <% end %>
        </ul>


         <ul id="free_acc" class="cd-faq-group">
            <li class="cd-faq-title"><h2>Free Account</h2></li>
            <% @faq_account.each do |faq_account| %>
             <li>
                <a class="cd-faq-trigger" href="#0"><p class="p-title"><%= faq_account.title %></p></a>
                <div class="cd-faq-content">
                    <p> <%= faq_account.description %></p>
                </div> <!-- cd-faq-content -->
            </li>
            <% end %>
        </ul>


         <ul id="faq_and_app" class="cd-faq-group">
            <li class="cd-faq-title"><h2>Mobile App</h2></li>
            <% @faq_and_app.each do |faq_and_app| %>
             <li>
                <a class="cd-faq-trigger" href="#0"><p class="p-title"><%= faq_and_app.title %></p></a>
                <div class="cd-faq-content">
                    <p> <%= faq_and_app.description %></p>
                </div> <!-- cd-faq-content -->
            </li>
            <% end %>
        </ul>

        <ul id="faq_find_job" class="cd-faq-group">
            <li class="cd-faq-title"><h2>Find A Job</h2></li>
            <% @faq_find_job.each do |faq_find_job| %>
             <li>
                <a class="cd-faq-trigger" href="#0"><p class="p-title"><%= faq_find_job.title %></p></a>
                <div class="cd-faq-content">
                    <p> <%= faq_find_job.description %></p>
                </div> <!-- cd-faq-content -->
            </li>
            <% end %>
        </ul>

        <ul id="faq_apply" class="cd-faq-group">
            <li class="cd-faq-title"><h2>Application</h2></li>
            <% @faq_apply.each do |faq_apply| %>
             <li>
                <a class="cd-faq-trigger" href="#0"><p class="p-title"><%= faq_apply.title %></p></a>
                <div class="cd-faq-content">
                    <p> <%= faq_apply.description %></p>
                </div> <!-- cd-faq-content -->
            </li>
            <% end %>
        </ul>

        <ul id="faq_add_vid" class="cd-faq-group">
            <li class="cd-faq-title"><h2>Add Video</h2></li>
            <% @faq_add_vid.each do |faq_add_vid| %>
             <li>
                <a class="cd-faq-trigger" href="#0"><p class="p-title"><%= faq_add_vid.title %></p></a>
                <div class="cd-faq-content">
                    <p> <%= faq_add_vid.description %></p>
                </div> <!-- cd-faq-content -->
            </li>
            <% end %>
        </ul>

        <ul id="faq_docu" class="cd-faq-group">
            <li class="cd-faq-title"><h2>HR Documents</h2></li>
            <% @faq_docu.each do |faq_docu| %>
             <li>
                <a class="cd-faq-trigger" href="#0"><p class="p-title"><%= faq_docu.title %></p></a>
                <div class="cd-faq-content">
                    <p> <%= faq_docu.description %></p>
                </div> <!-- cd-faq-content -->
            </li>
            <% end %>
        </ul>
   
    <a href="#0" class="cd-close-panel">Close</a>
</section> <!-- cd-faq -->
</div>
</div>