<!-- <form class="form-horizontal">

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">First name</label>
    <div class="col-sm-4">
      <input type="text_field" class="form-control" id="inputEmail3" placeholder="First name">
    </div>
    <label for="inputEmail3" class="col-sm-2 control-label">Last name</label>
    <div class="col-sm-4">
      <input type="text_field" class="form-control" id="inputEmail3" placeholder="Last name">
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-4">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
    <label for="inputEmail3" class="col-sm-2 control-label">Mobile number</label>
    <div class="col-sm-4">
      <input type="text_field" class="form-control" id="inputEmail3" placeholder="Mobile number">
    </div>
  </div>

  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
    <label for="inputPassword3" class="col-sm-2 control-label">Re-enter Password</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Re-enter Password">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Gender</label>
    <div class="radio col-sm-4">
      <label><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">male</label>
      <label><input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">female</label>
    </div>
    <label class="col-sm-2 control-label">Birthday</label>
    <div class="col-sm-4">

    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-8 col-sm-offset-2">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Sign up</button>
    </div>
  </div>

</form>
 -->
 