<div class="container-fluid" style="padding:0px; background-color:#fff">
<div class='page pricing'>
    <div class="container">
        <div class='row'>
            <div class="col-sm-12">
                <h1>14-Day Free Trial. Get Started Today!</h1>
                    
            </div>
    </div>
    </div>
</div>

<div class='pricing_buttons'>
    <div class="container">
        <div class="row">
            <div class="col-sm-md">
                <a href="#" id='monthly_pricing' class='selected'>Monthly Plans</a>
                <a href="#" id='annual_pricing'>Annual Plans</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class='col-md-12'>
            <div class="chart">
    <div class="plan">
        <h5>Starter</h5>

        <h1><span class='sign'>$</span>24<span class='permo'>/mo</span></h1>

        <ul class="list-unstyled">
            <li>1 Active Job Post / mo</li>
            <li>1 Hiring Company / mo</li>
        </ul>

        <a href="#" class="btn btn-large btn-default">
            Subscribe
        </a>
    </div>
    <div class="plan">
        <h5>Basic</h5>

        <h1><span class='sign'>$</span>99<span class='permo'>/mo</span></h1>

        <ul class="list-unstyled">
            <li>5 Active Job Posts</li>
            <li>1 Urgent Hiring</li>
            <li>15 Invites</li>
            <li>1 Hiring Company</li>
        </ul>

        <a href="#" class="btn btn-large btn-default">
            Subscribe
        </a>
    </div>
    <div class="plan popular">
        <div class='most'>
            <span>Most Popular</span>
        </div>
        <h5>Standard</h5>

        <h1><span class='sign'>$</span>299<span class='permo'>/mo</span></h1>

        <ul class="list-unstyled">
            <li>20 Active Job Posts</li>
            <li>5 Urgent Hiring</li>
            <li>100 Invites</li>
            <li>4 Hiring Company</li>
        </ul>

        <a href="#" class="btn btn-large btn-primary">
            Subscribe
        </a>
    </div>
    <div class="plan">
        <h5>Company</h5>

        <h1><span class='sign'>$</span>499<span class='permo'>/mo</span></h1>

        <ul class="list-unstyled">
            <li>50 Active Job Posts</li>
            <li>15 Urgent Hiring</li>
            <li>350 Invites</li>
            <li>12 Hiring Company</li>
        </ul>

        <a href="#" class="btn btn-large btn-default">
            Subscribe
        </a>
    </div>
    <div class="plan">
        <h5>Enterprise</h5>

        <h1><span class='sign'>$</span>999<span class='permo'>/mo</span></h1>

        <ul class="list-unstyled">
            <li>150 Active Job Posts</li>
            <li>50 Urgent Hiring</li>
            <li>1500 Invites</li>
            <li>50 Hiring Company</li>
        </ul>

        <a href="#" class="btn btn-large btn-default">
            Subscribe
        </a>
    </div>
</div>
</div>
    </div>
</div>
    <%= render :partial => 'layouts/footer'%>
</div>