<!--
TODO move to main js adding here to avoid confusion
-->
<script>
  
  $(function() {
    $( "#datepicker-end-p" ).datepicker({
      showButtonPanel: true
    });
  });

  $(function() {
    $( "#datepicker-start-p" ).datepicker({
      showButtonPanel: true
    });
  });
  
  $(function() {
    $('#professions-form :checkbox').change(function() {
      var $this = $(this);
      if ($this.is(':checked')) {
        $( "#datepicker-end-p" ).datepicker( "option", "disabled", true );
      } else {
        $( "#datepicker-end-p" ).datepicker( "option", "disabled", false );
      }
  });

  $('#btn-cancel-p').click(function(event){
      event.preventDefault();
       $('div#professions-div').toggle();
  });


});
</script>

<%= form_tag({controller: "professions", action: "index"}, method: "post", class: "nifty_form", id:"professions-form" ) do %>
    		<input type="textfield" class="form-control input-sm," name="profession[job_title]" placeholder="Position"><br>
    		<input type="textfield" class="form-control input-sm" name="profession[location]" placeholder="at what company?"><br>
    		<p>When did it start?</p><input name="profession[start_date]" type="date textfield"  id="datepicker-start-p"/>
    		<p>When did it end?</p><input name="profession[end_date]" type="date textfield"  id="datepicker-end-p" />
  			<div class="checkbox">
    			<label><input type="checkbox">Current Job</label>
  			</div>
    		<%= submit_tag :Save, class: "btn btn-success"%>
    		<button type="submit" id="btn-cancel-p" class="btn btn-primary">Cancel</button>
<% end %>