<div class="row">
<div class="col-md-6">
       <iframe src="http://www.youtube.com/embed/KgMttr4Vc" frameborder="0" allowfullscreen>
     </iframe>

</div>
<div class="col-md-6">
     <div class="col-xs-12 col-sm-12">
                    <h3 style="margin-left:0px; padding:left:0px;">Skillex</h3>
                    <p><strong>Website </strong>www.skillex.com </p>
                    <p><strong>Employees </strong>1000</p>
                    <p><strong>Job Offered</strong>
                        <span class="tags">welder</span> 
                        <span class="tags">programmer</span>
                        <span class="tags">chef</span>
                        <span class="tags">bartender</span>
                    </p>
                </div>
              
</div>
</div>