<style>
.no-border{
  border-radius: 0 !important;
}

.full-width {
   width:100%;
}

.panel > .panel-heading {
    background-image: none;
    background-color: red;
    color: white;

}
.panel-heading {background-color:transparent!important;}

.text-justify {
  text-align: justify;
}

</style>

<script>
  $(function () {
    var company_culture = $('select[name="company_cultures[id][]"]').bootstrapDualListbox();
        $("#demoform").submit(function() {
          alert($('[name="duallistbox_demo1[]"]').val());
          return false;
    });
  });
</script>

<div class="container" style="margin-top:100px;"/>
<div class="col-md-10 col-md-offset-1">  

  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
  <% end %>

  <%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h3>
      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>

  <div class="col-md-8 col-md-offset-2" style="margin-bottom:90px;">
    <div class="panel panel-default">
      <div class="panel-heading">
      <% if @company.new_record? %>  
        <h3 style="color:black;">Create Company</h3>
      <% else %>                      
         <h3 style="color:black;">Update <%= @company.name %></h3>
      <% end %>
      </div>
    <div class="panel-body">
 
      <h4 class="ng-binding">Company Name</h4>
      <%= f.text_field :name , :class => 'form-control input no-border',:id =>'job_title', :placeholder => 'Enter company name' ,:type => 'text_field'%>

      <h4 class="ng-binding">Email Address</h4>
      <%= f.text_field :email , :class => 'form-control input no-border',:id =>'job_title', :placeholder => 'Enter email address' ,:type => 'text_field'%>
 
      <h4 class="ng-binding">Website</h4>
      <%= f.text_field :website , :class => 'form-control input no-border',:id =>'job_title', :placeholder => 'Enter website' ,:type => 'text_field'%>
 
     <h4 class="ng-binding">Location</h4>
      <%= f.text_field :location , :class => 'form-control input no-border',:id =>'job_title', :placeholder => 'Enter location' ,:type => 'text_field'%>
 
      <h4 class="ng-binding">Contact Number</h4>
      <%= f.text_field :mobile_number , :class => 'form-control input no-border',:id =>'job_title', :placeholder => 'Enter contact number' ,:type => 'text_field'%>
       <h4 class="ng-binding">Company Cultures</h4>
      <%= fields_for(@company_culture) do |jwe| %>
        <%= collection_select(:company_cultures, :id, @all_stored_cultures, :id, :name, {:selected => [1,2]},{:multiple => true, :size => 10}) %>
      <% end %>

     <h4 class="ng-binding">Company background</h4>
      <%= f.text_field :details , :class => 'form-control input no-border',:id =>'job_title', :placeholder => 'Enter details' ,:type => 'text_field'%>
  </div>

  <div class="panel-body">
    <div class="panel-body pull-right">
      <% if !@company.new_record? %>
        <%= link_to 'Back', companies_path, :class => 'btn btn-default'%> 
      <% end %>
      <%= f.submit :class => 'btn btn-primary'%>
    </div>
  </div>
<% end %>
    </div>
  </div>
</div>
</div>