<style type="text/css">
.div-job-list {
	margin-bottom: 15px;
}

</style>

<div class="panel panel-default">
   <div class="panel-heading">
  		<h5>Available Jobs</h5>
  </div>
  <div class="panel-body">

  	<div class="div-job-list">
  	<p><h5>Android Developer</h5><p>
  	 <p class="list-group-item-text"></p>
  	 <button type="button" class="btn btn-default btn-xs">View</button>
  	 </div>
  
  	 	<div class="div-job-list">
  	<h5>Lawrence Ipsum</h5>
  	 <p class="list-group-item-text">Welder</p>
  	  <button type="button" class="btn btn-default btn-xs">View</button>
  	 </div>

  	  	<div class="div-job-list">  
  	<h5>Mika Hika</h5>
  	 <p class="list-group-item-text">Welder</p>
  	  <button type="button" class="btn btn-default btn-xs">View</button>
  	 </div>

  </div>

</div>