<style>

.div-profile {
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 0px 0px 1px #CCC;
    margin: 5px;
}

.div-profile .content {
    padding: 15px;
}

p {
	margin: 0px;
	padding: 0px;
}

h4 {
	margin: 0px;
	padding: 0px;
	text-align: left;
}
.panel {
  margin:5px;
}
.div-job-list {
	margin-bottom: 15px;
}

.items{
  margin-top: 5px;
  margin-bottom: 5px;
}

.about-items {

}

</style>

<div class="panel panel-default">
   
    <div class="col-xs-12 col-sm-12 text-center" style="margin-top:10px; margin-bottom:30px;">
        <figure>
            <img src="http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png" alt="" class=" img-responsive">
        </figure>
    </div>
  
    <div class="panel-body">  
        <h4>About Skillex</h4>
    </div>
    
    <div class="panel-body">
        <p>Lorem Ipsum Wik Solem Striking Lorem Ipsum Wik Solem Striking Lorem Ipsum Wik Solem Striking Lorem Ipsum Wik Solem Striking</p>
    </div>
    
</div>