<style type="text/css">
.ml10 {  
  margin-left: 10px;
}

.fa-plus {
    color: #fff;
}

</style>

<div class="container" style="margin-top:100px; margin-bottom:100px;" >
    <div id="toolbar">
        <a id="add" class="btn btn-primary" href="<%= new_company_path %>">
           <i class="fa fa-plus"></i> New Company
        </a>
    </div>
    <table id="table" data-toolbar="#toolbar"></table>
</div>



<script>
   var $table = $('#table'),
        $remove = $('#remove');

    window.operateEvents = {
        'click .view': function (e, value, row, index) {
            window.location.href = 'companies/' + row.id;
        },
        'click .edit': function (e, value, row, index) {
            window.location.href = 'companies/' + row.id + '/edit';
        },
        'click .remove': function (e, value, row, index) {
            $.ajax({
                type: "POST",
                url: "/companies/" + row.id,
                dataType: "json",
                data: {"_method":"delete"},
                success: function(data) {
                      $table.bootstrapTable('remove', {
                        field: 'id',
                        values: [row.id]
                    });
                }
            }).fail(function(data) {
                alert("error");
            });
            event.preventDefault();
        },
        'click .revoke': function (e, value, row, index) {
            // $.ajax({
            //     type: "POST",
            //     url: "/company_employee/" + row.id,
            //     dataType: "json",
            //     data: {"_method":"delete"},
            //     success: function(data) {
            //           $table.bootstrapTable('remove', {
            //             field: 'id',
            //             values: [row.id]
            //         });
            //     }
            // }).fail(function(data) {
            //     alert("error");
            // });
            // event.preventDefault();
        }
    };
    
    $('#table').bootstrapTable({
        url: '/users/<%= current_user.id %>/companies.json',
        search: true,
        pagination: true,
        showRefresh: true,
        iconsPrefix: 'fa',
        icons: {
          paginationSwitchDown: 'glyphicon-collapse-down icon-chevron-down',
          paginationSwitchUp: 'glyphicon-collapse-up icon-chevron-up',
          refresh: 'fa-refresh',
          toggle: 'glyphicon-list-alt icon-list-alt',
          columns: 'glyphicon-th icon-th',
          detailOpen: 'glyphicon-plus icon-plus',
          detailClose: 'glyphicon-minus icon-minus'
        },
        columns: [{
            field: 'name',
            title: 'Name',
            sortable: true
        }, {
            field: 'email',
            title: 'Email',
            sortable: true
        }, {
            field: 'website',
            title: 'Website',
            sortable: true
        }, {
            field: 'location',
            title: 'Location',
            sortable: true
        }, {
            field: 'website',
            title: 'Website',
            sortable: true
        }, {
            field: 'operate',
            title: 'Operate',
            events: operateEvents,
            formatter: actionFormatter
        } ]
    });
    
    function actionFormatter(value, row, index) {
        var id = parseInt('<%= current_user.id %>',0);
        if (row.user_id == id) {
             return [
                '<a class="view ml10" href="javascript:void(0)" title="View">',
                '<i class="fa fa-external-link"></i>',
                '</a>',
                '<a class="edit ml10" href="javascript:void(0)" title="Edit">',
                '<i class="fa fa-pencil-square-o"></i>',
                '</a>',
                '<a class="remove ml10" href="javascript:void(0)" title="Remove">',
                '<i class="fa fa-trash-o"></i>',
                '</a>'
            ].join('');
        } else {
               return [
                '<a class="revoke ml10" href="javascript:void(0)" title="Revoke">',
                '<i class="fa fa-external-link"></i>',
                '</a>'
            ].join('');
        }
    }

    
</script>