<div class="container" style="margin-top:100px;">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-xs-10">
      <div class=" panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-4 text-center">
              <img src="http://api.randomuser.me/portraits/women/21.jpg" alt="" class="center-block img-circle img-thumbnail img-responsive">
            </div>
            <!--/col--> 
            <div class="col-xs-12 col-sm-8">
              <h2><%= @company.name %></h2>
              <p><strong>About: </strong> <%= @company.details %> </p>
              <p><strong>Culture: </strong> Read, out with friends, listen to music, draw and learn new things. </p>
              <p><strong>Jobs: </strong>
              	<%= @jober.each do |job| %>
              		<%= job.position %>
	              <% end %>
              </p>
                <div class="col-xs-4 col-sm-4">
	              <h2><strong> 20,7K </strong></h2>
	              <p><small>Followers</small></p>
	            </div>
	            <!--/col-->
	            <div class="col-xs-4 col-sm-4">
	              <h2><strong>245</strong></h2>
	              <p><small>Following</small></p>
	            </div>
	            <!--/col-->
	            <div class="col-xs-4 col-sm-4">
	              <h2><strong>43</strong></h2>
	              <p><small>Snippets</small></p>
	            </div>
	            <!--/col-->
            </div>
            <!--/col-->          
          </div>
          <!--/row-->
        </div>
        <!--/panel-body-->
      </div>
      <!--/panel-->
    </div>
    <!--/col--> 
  </div>
  <!--/row--> 
</div>
<!--/container-->