<div class="well">
<h4>Add New Recommendation</h4><br>
<%= form_tag({controller: "testimonies", action: "index"}, method: "post", class: "nifty_form", multipart: true) do  %>
  <input type="textfield" class="form-control input-md" name="testimony[name]" placeholder="Title"><br>
  <input type="textfield" class="form-control input-md" name="testimony[description]" placeholder="Description"><br>
  <input type="file" class="" name="video[payload]">
  <br>
  <%= submit_tag :Save, class: "btn btn-success"%>
  <button type="submit" id="btn-cancel-t" class="btn btn-primary">Cancel</button>
<% end %>
</div>