<div class="container-fluid" style="margin-top:100px; margin-bottom:100px;">
    <center>
	<div class="row">
		<div class="demo-card-wide mdl-card mdl-shadow--2dp">

			<div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
              <div class="minilogo"></div>
              <div>
                <strong>The Newist</strong>
                <span>2 days ago</span>
              </div>
            </div>

			<div class="mdl-card__media mdl-card--border">
  				<video class="landing" poster="#" autoplay loop muted width="512" >
				    <source src="https://new-famous-production.s3.amazonaws.com/videos/payloads/38/mobile/awVZgYQ_460sv.mp4" type="video/mp4" />
				    <source src="https://new-famous-production.s3.amazonaws.com/videos/payloads/38/thumb/awVZgYQ_460sv" type="video/webm" />
			     </video>
  			</div>		     
			
			<div class="mdl-card__actions" style="text-align:left">
				<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
			       <i class="material-icons">arrow_upward</i>
			    </button>
			    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
			      <i class="material-icons">chat_bubble_outline</i>
			    </button>
			    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
			      <i class="material-icons">share</i>
			    </button>
			</div>

			<div class="mdl-card__supporting-text meta mdl-color-text--grey-600 mdl-card--border" style="padding-bottom:0px; text-align:left">
				<div>
	                <strong style="padding-bottom:8px;">20 Likes</strong>
	                <span style="padding-bottom:8px;"><b>@Mark</b> a lorem ipusm particulars check voucher  a lorem ipusm particulars check voucher</span>
              	</div>
	        </div>

	        <div class="mdl-card__supporting-text meta mdl-color-text--grey-600" style="padding-top:0px; margin-top:0px;">
				<div class="demo-list-action mdl-list" id="comments-list" style="text-align:left">
					 <%= will_paginate @comments %>
					 <%= render @comments %>
				</div>
	        </div>

	        <div class="mdl-card__actions">
    			<%= render "comments/form" %>
  			</div>
			
			<div class="mdl-card__menu" style="vertical-align: right;">
			    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
			      <i class="material-icons">share</i>
			    </button>
			</div>

			</div>

		</div>
	</div>
    </center>
</div>

		<!-- Wide card with share menu button -->
<style>
.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../assets/demos/welcome_card.jpg') center / cover;
}

textarea:focus {outline:0;}

textarea { font-size: 14px; padding: 8px; }

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.demo-card-wide .meta > *:first-child {
    margin-right: 16px;
}

.demo-card-wide .meta > * {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.mdl-list__item {
	padding-left: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	padding-top: 0px;
	padding-right: 16px;
	font-size: 14px;
}

.mdl-textfield {
    position: relative;
    font-size: 16px;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}

.mdl-list__item-avatar, .mdl-list__item-avatar.material-icons {
    /* height: 40px; */
    /* width: 40px; */
    box-sizing: border-box;
    border-radius: 50%;
    background-color: rgb(117,117,117);
    font-size: 40px;
    color: white;
}

.mdl-list__item-avatar, .mdl-list__item-avatar.material-icons {
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(117,117,117);
    font-size: 20px;
    color: white;
}
.mdl-card__supporting-text {
    color: rgba(0,0,0,.54);
    font-size: 1rem;
    line-height: 18px;
    overflow: hidden;
    padding: 16px;
    width: 90%;
}

.demo-card-wide .mdl-card__supporting-text {
    width: 100%;
    padding: 16px;
    min-height: 64px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.demo-card-wide .minilogo {
    width: 44px;
    height: 44px;
    background-image: url('images/avatar.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border-radius: 22px;
    background-color: #F5F5F5;
}
</style>
