<h1>Listing company_testimonies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>User</th>
    <th>Company</th>
    <th>Video</th>
    <th>Created by</th>
    <th>Allowed</th>
    <th>Private</th>
    <th>Permission</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @company_testimonies.each do |company_testimony| %>
  <tr>
    <td><%= company_testimony.name %></td>
    <td><%= company_testimony.description %></td>
    <td><%= company_testimony.user_id %></td>
    <td><%= company_testimony.company_id %></td>
    <td><%= company_testimony.video_id %></td>
    <td><%= company_testimony.created_by %></td>
    <td><%= company_testimony.allowed %></td>
    <td><%= company_testimony.private %></td>
    <td><%= company_testimony.permission %></td>
    <td><%= link_to 'Show', company_testimony %></td>
    <td><%= link_to 'Edit', edit_company_testimony_path(company_testimony) %></td>
    <td><%= link_to 'Destroy', company_testimony, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company testimony', new_company_testimony_path %>
