<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company_testimony.name %>
</p>

<p>
  <b>Description:</b>
  <%= @company_testimony.description %>
</p>

<p>
  <b>User:</b>
  <%= @company_testimony.user_id %>
</p>

<p>
  <b>Company:</b>
  <%= @company_testimony.company_id %>
</p>

<p>
  <b>Video:</b>
  <%= @company_testimony.video_id %>
</p>

<p>
  <b>Created by:</b>
  <%= @company_testimony.created_by %>
</p>

<p>
  <b>Allowed:</b>
  <%= @company_testimony.allowed %>
</p>

<p>
  <b>Private:</b>
  <%= @company_testimony.private %>
</p>

<p>
  <b>Permission:</b>
  <%= @company_testimony.permission %>
</p>


<%= link_to 'Edit', edit_company_testimony_path(@company_testimony) %> |
<%= link_to 'Back', company_testimonies_path %>
