<div class="container">
<div class="row" style="margin-top: 80px; margin-bottom: 50px;">
  <div class='col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2'>
  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="login_form text-center" style="padding: 60px;">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <div class="form-group" style="padding: 10px;">

            <h3>Sign in to Great Job</h3>
            <h6>Show us what you got and get hired!</h6>
          </div>
          <div class="form-group">
            <%= f.text_field :login, :type =>'textfield', :class => 'form-control', :autofocus => true, :placeholder => 'Email' %>
          </div>
          <div class="form-group">
            <%= f.password_field :password, :type =>'password', :class => 'form-control', :autofocus => true, :placeholder => 'Password' %>
          </div>
          <div class="form-group space">
              <% flash.each do |key, value| %>
               <img src="/images/login_error.png" alt="">
                <label class='message'><%= value %></label>
              <% end %>
          </div>
            <%= f.submit "Login",:class => 'btn btn-primary btn-block'%>
        <% end %>
      <h6 style="margin-top:50px;">
        <a href="#" class='pull-left'>Forgot Password?</a>
         <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
              <%= link_to "Dont have an account yet? Sign up", new_registration_path(resource_name), :class => 'pull-right'%>
        <% end %>
      </h6>
    </div>
  </div>
</div>
</div>
</div>
<style type="text/css">
  .mdl-card {
    width: 100%;
  }
</style>