<h1>Listing stored_achievements</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stored_achievements.each do |stored_achievement| %>
  <tr>
    <td><%= stored_achievement.name %></td>
    <td><%= link_to 'Show', stored_achievement %></td>
    <td><%= link_to 'Edit', edit_stored_achievement_path(stored_achievement) %></td>
    <td><%= link_to 'Destroy', stored_achievement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stored achievement', new_stored_achievement_path %>
