<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @stored_achievement.name %>
</p>


<%= link_to 'Edit', edit_stored_achievement_path(@stored_achievement) %> |
<%= link_to 'Back', stored_achievements_path %>
