<div class="well">
    <h4>What do you want to work as?</h4><br>
      <%= form_tag({controller: "goals", action: "index"}, method: "post", class: "nifty_form") do %>
        <input type="textfield" class="form-control input-sm" name="goal[position]" placeholder="What position do you like?"><br>
        <input type="textfield" class="form-control input-sm" name="goal[location]" placeholder="What company? (Optional)"><br>
        <%= submit_tag :Save, class: "btn btn-success"%>
      <% end %>
</div>
