<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @goal.name %>
</p>

<p>
  <b>User:</b>
  <%= @goal.user_id %>
</p>

<p>
  <b>Position:</b>
  <%= @goal.position %>
</p>


<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
