<!DOCTYPE html>
<html>
<head>
  <title>Famous - Awards</title>
</head>
<body>
	<p>Dear <a href="<%= @profile %>"><%= @user.name %></a>,</p>
	
	<p>I just uploaded a new achievement to your profile.</p>
	
	    <video width="640" height="360" controls>
			<source src="<%= @video %>" type="video/mp4">
			<source src="<%= @video %>" type="video/avi">
			<a href="<%= @resource_url %>"><img src="<%= @video_thumb %>" width="640" height="360" />
	    </video>
	
	<p>
		<a href="https://play.google.com/store/apps/details?id=ph.famous.famousapp.core">Google Play store</a> | 
		<a href="http://famous.ph">Famous.ph</a> | 
		<a href="<%= @profile %>"><%= @user.name %> profile</a> |
		<a href="<%= @creator_profile %>"><%= @creator.name %> profile</a>
	</p>
	<p>
		<center>
			<a href="http://www.facebook.com/share.php?u=<%= @resource_url%>">
				<img src="http://iwebthinkbig.com/images/share-on-facebook.png" border="0"/>
			</a>
		</center>
	</p>
	
	<p>Regards,</p>
	
	<p><%= @creator.name %></p>
	</body>
</html>