<p>Dear <%= @user.name %>,</p>

<p>You have been nominated by <%= @nominated_by_user.name %> as <%= @competition_title %>.</p>

<p>Ask your friends and co workers to give a video vote for you now! Voting happens at the Famous app at <a href="https://play.google.com/store/apps/details?id=ph.famous.famousapp.core">Google Play store</a>.</p>

<p>Regards,</p>

<p>Famous Dennis </p>
