<h1>Listing prizes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Details</th>
    <th>Competition</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prizes.each do |prize| %>
  <tr>
    <td><%= prize.name %></td>
    <td><%= prize.amount %></td>
    <td><%= prize.details %></td>
    <td><%= prize.competition_id %></td>
    <td><%= link_to 'Show', prize %></td>
    <td><%= link_to 'Edit', edit_prize_path(prize) %></td>
    <td><%= link_to 'Destroy', prize, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Prize', new_prize_path %>
