<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @prize.name %>
</p>

<p>
  <b>Amount:</b>
  <%= @prize.amount %>
</p>

<p>
  <b>Details:</b>
  <%= @prize.details %>
</p>

<p>
  <b>Competition:</b>
  <%= @prize.competition_id %>
</p>


<%= link_to 'Edit', edit_prize_path(@prize) %> |
<%= link_to 'Back', prizes_path %>
