<!DOCTYPE html>
<html>
<head>
  <title>Invitation</title>
</head>
<body>
	<p>Dear <a href="<%= @user.name %>"><%= @user.name %></a>,</p>
	
	<a href="<%= @accept %>"><%= @accept %></a>

	<p>Regards,</p>
	
	<p><%= @creator.name %></p>
	</body>
</html>