<div class="page-content" >
	<div clas="container">
		<div class="row" style=" margin-top: 100px; margin-bottom: 100px;">
			<div class="col-md-8 col-md-offset-2">
				  <div class="panel panel-default">
				      <div class="panel-heading">
				      	Invite
				      </div>
    					<div class="panel-body">
							<h2><%= t "devise.invitations.new.header" %></h2>
							<%= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post} do |f| %>
							<%= devise_error_messages! %>

							<% resource.class.invite_key_fields.each do |field| %>
								  <%= f.input field %>
							<% end %>
							<br/>
								<%= f.button :submit, t("devise.invitations.new.submit_button") %>
							<% end %>
							</div>
					</div>
			</div>
		</div>
	</div>
</div>
