<%= form_for(@stored_company_culture) do |f| %>
  <% if @stored_company_culture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stored_company_culture.errors.count, "error") %> prohibited this stored_company_culture from being saved:</h2>

      <ul>
      <% @stored_company_culture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
