<h1>Listing stored_company_cultures</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stored_company_cultures.each do |stored_company_culture| %>
  <tr>
    <td><%= stored_company_culture.name %></td>
    <td><%= link_to 'Show', stored_company_culture %></td>
    <td><%= link_to 'Edit', edit_stored_company_culture_path(stored_company_culture) %></td>
    <td><%= link_to 'Destroy', stored_company_culture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stored company culture', new_stored_company_culture_path %>
