<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @stored_company_culture.name %>
</p>


<%= link_to 'Edit', edit_stored_company_culture_path(@stored_company_culture) %> |
<%= link_to 'Back', stored_company_cultures_path %>
