<h1>Listing locations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Town</th>
    <th>Lat</th>
    <th>Lon</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.name %></td>
    <td><%= location.city %></td>
    <td><%= location.town %></td>
    <td><%= location.lat %></td>
    <td><%= location.lon %></td>
    <td><%= location.address %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Location', new_location_path %>
