<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @image.description %>
</p>

<p>
  <b>Type:</b>
  <%= @image.type %>
</p>

<p>
  <b>Name:</b>
  <%= @image.name %>
</p>

<p>
  <b>Image:</b>
  <%= @image.image %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
