<style>
li .selected {
  background-color: white;
  color: #6161D7;
}

.dropdown-menu:before, 
.dropdown-menu:after {
 border: none !important;
 content: none !important;
}

.li-menulist {
  padding:5px;
  padding-left:10px;
}

.li-menulist:hover {
  background-color: #EEE;
}

.navbar-brand-name > {

  display: inline-block;
  float: left;

}

.active {
  color: white;

}

.navbar-brand-name > img {
  display: inline-block;
  float: left;
  padding: 0 15px 0 0;
}


/* CSS used here will be applied after bootstrap.css */

.glyphicon-bell {
   
    font-size:1.5rem;
  }

.notifications {
   min-width:420px; 
  }
  
  .notifications-wrapper {
     overflow:auto;
      max-height:250px;
    }
    
 .menu-title {
     color:#61398E;
     font-size:1.5rem;
      display:inline-block;
      }
 
.glyphicon-circle-arrow-right {
      margin-left:10px;     
   }
  
   
 .notification-heading, .notification-footer  {
  padding:2px 10px;
       }
      
        
.dropdown-menu.divider {
  margin:5px 0;          
  }
.item-title {
 font-size:1.3rem;
 color:#000;
}

.item-info {
 color:#000;
 font-size:1.3rem;
}

.notifications a.content {
 text-decoration:none;
 padding: 0px;
 margin: 0px;

 }
    
.notification-item {
  padding:5px;
 }

.clear-space {
  padding:0px;
  margin:0px;
}

.push-item {
  max-height: 300px;
  overflow-y: auto;
}

</style>

<script type="text/javascript">
  //TODO make it as partial
  $(document).ready(function() {
    $.getJSON("/notifications.json", function(result) {
      if(result.length > 0 ) {
        $.each(result, function(i, field){
          var items ="<div class=\"notifications-wrapper\"><a class=\"content\" href=\"#\"><div class=\"notification-item\"><h4 id=\"notification-text\" class=\"item-title\">"+
            String(field.parameters.title)+"<\/h4><p class=\"item-info\">"+  String(field.updated_at) +"<\/p>      <\/div>\r\n    <\/a>\r\n<\/div>";
          $("#push-item").append(items + "<hr class=\"clear-space\" \/>");       
        });
      } else {
         $("#push-item").append("No new notification");
      }
    });
  });

</script>

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">

  <div class="container-fluid" style="background-color:white;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a style="text-align:center"class="navbar-brand" href="#">
        <div class="navbar-brand-name">
          <img class="img-responsive" style="margin-top:-9px;" src="/images/famous_logo.png"/>
        </div>
      </a>
    </div>
       <!-- <p class="navbar-text" style="padding-left:0px; margin-left:0px; font-size:2rem">Famous, Direct Hiring for Skilled Workers</p> -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
    
        <li class="<%= 'active' if params[:controller] == 'users'%>">
          <% if current_user.employer? %>
            <%= link_to  'Dashboard',user_url(current_user.id) %>
          <% else %>
            <%= link_to  'My Profile',user_url(current_user.id) %>
          <% end %>
        </li>

        <% if current_user.employer? %>
          <li class="<%= 'active' if params[:controller] == 'companies'%>">
            <%= link_to  'My Companies', user_companies_path(current_user) %>
          </li>
        <% end %>

        <% if current_user.employer? %>
          <li class="<%= 'active' if params[:controller] == 'company_employees'%>">
            <%= link_to  'Team', user_company_employees_path(current_user) %>
          </li>
        <% end %>
        
         <li class="<%= 'active' if params[:controller] == 'jobs'%>">
          <% if current_user.employer? %>
            <%= link_to  'My Jobs', jobs_path %>
          <% else %>
            <%= link_to  'Jobs', jobs_path %>
          <% end %>
        </li>

        <% if current_user.employer? %>
          <li class="<%= 'active' if params[:controller] == 'candidates'%>">
              <%= link_to  'My Candidates', candidates_path %>
          </li>
        <% else %>
          <li class="<%= 'active' if params[:controller] == 'candidates'%>">
              <%= link_to  'My Applications', candidates_path %>
          </li>
        <% end %>
        
         <li class="dropdown mega-dropdown" role="presentation">
              <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
          <i class="glyphicon glyphicon-bell"></i>
          </a>
            <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">
          <div class="notification-heading">
            <h4 class="menu-title">Notifications</h4>
            <h4 class="menu-title pull-right"><a href="<%= notifications_path %>">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></a></h4>
          </div>
            <li class="divider"></li>
              <div id="push-item" class="push-item"></div>
            <li class="divider"></li>
          <div class="notification-footer">
            <h4 class="menu-title"><a href="<%= notifications_path %>">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></a></h4></div>
            </ul>
        </li>

        <li class="dropdown mega-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi <u><%= current_user.name %></u>! <span class="caret"></span></a>
          <ul class="dropdown-menu mega-dropdown-menu">
            <li class="li-menulist">
              <%= link_to 'Edit profile', edit_user_registration_path %>
            </li>
            <li class="li-menulist">
              <a href="#">My Applications</a>
            </li>
            <li class="divider"></li>
            <li class="li-menulist">
              <%= link_to 'Logout', destroy_user_session_path, method: :delete  %>
            </li>
          </ul>
        </li>
        <% else %>

        <ul class="nav navbar-nav navbar-right">
      
        <li class="dropdown mega-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Employers<span class="caret"></span></a>
          <ul class="dropdown-menu mega-dropdown-menu">
          <%  @features = Feature.where(feature_type: 'employer') %>
                <% @features.each do |feature| %>
                <li class="li-menulist"><%= link_to feature.name , new_user_registration_path(:id => feature.id.to_s) %></li>
          <% end %>
          </ul>
        </li>

        
        <li class="dropdown mega-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Job Seekers<span class="caret"></span></a>
            <ul class="dropdown-menu mega-dropdown-menu">
          <%  @features = Feature.where(feature_type: 'job_seeker') %>
                <% @features.each do |feature| %>
                <li class="li-menulist"><%= link_to feature.name , new_user_registration_path(:id => feature.id.to_s) %></li>
          <% end %>
          </ul>
        </li>
        

        <li class="inactive">
          <%= link_to "Pricing", pricing_path %>
        </li> 


        <li class="inactive">
          <%= link_to "Sign up", new_user_registration_path %>
        </li> 

        <li class="inactive">
          <%= link_to "Sign in", new_user_session_path %>
        </li>   
      </ul>

      <% end %>
    </div>
  </div>
</nav>          
