    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Great Job</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    
                    <% if user_signed_in? %>
                        <li><%= link_to "Discovery",  discovery_path %></li>
                        <li><%= link_to "Groups", user_place_groups_path(current_user) %> </li>
                        <li><%= link_to "Profile", user_path(current_user) %> </li>
                        <li><%= link_to "Notifications", user_notifications_path(current_user) %></li>
                        <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
                    <% else %>
                        <li><a class="page-scroll" href="#download">Download</a></li>
                        <li><a class="page-scroll" href="#features">Features</a></li>
                        <li><a class="page-scroll" href="#contact">Contact</a> </li>
                        <li> <%= link_to('Login', new_user_session_path)  %> </li>
                    <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <style type="text/css">
    .navbar-default {
        background-color: white;
        border-color: transparent;
    }

    .navbar-default .nav > li > a {
        color: #fdcc52;
    }

    .navbar-default .navbar-nav>li>a:hover {
        color: #333;
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: #fdcc52;
    }

</style>