<!DOCTYPE html>
<html ng-app="myapp">
   <head>
      <title>Great Job</title>
      <%= include_gon %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
      <%= display_meta_tags :site => 'Famous.ph' %>
      <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
 <!--      <%= javascript_include_tag :defaults, 'http://localhost:9292/faye/client.js' %> -->
<script src="https://use.typekit.net/kbo7yrl.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.css">

    <link rel="stylesheet" href="http://cdn.jsdelivr.net/jquery.slick/1.4.1/slick-theme.css">

    <script src="http://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Buenard:700' rel='stylesheet' type='text/css'>
    
 
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

      
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
   
  
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "jquery.bootstrap-duallistbox.min.js" %>
     <%= javascript_include_tag "jquery.photoset-grid.min.js" %>
    <!-- Boostrap table -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.0/bootstrap-table.min.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.0/bootstrap-table.min.js"></script>

    <%= stylesheet_link_tag    "application", :media => "all", "data-turbolinks-track" => false %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.0/locale/bootstrap-table-en-US.min.js"></script>

   </head>
   <body  style="background-color: #f6f5f6;" >
   <%= jwplayer_assets %>


  <%= render :partial => 'layouts/menu' %>
    <div  style="background-color: #f6f5f6;" >
      <%= yield %>
    </div>
  <%= render :partial => 'layouts/footer' %>
  </body>

</html>
