<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Famous.ph - what job are you looking for?</title>
  <%= include_gon %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>
  <%= display_meta_tags :site => 'Great Job' %>
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", :media => "all" %>
</head>

<body id="page-top">
    <div class="container-fluid" style="padding:0px; margin:0px; background-color:#f6f5f6;">
      <%= render :partial => 'layouts/menu' %>
      <%= yield %>
      <%= render :partial => 'layouts/footer' %>
    </div>
</body>

</html>
