<h1>Listing stored_trainings</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stored_trainings.each do |stored_training| %>
  <tr>
    <td><%= stored_training.name %></td>
    <td><%= link_to 'Show', stored_training %></td>
    <td><%= link_to 'Edit', edit_stored_training_path(stored_training) %></td>
    <td><%= link_to 'Destroy', stored_training, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stored training', new_stored_training_path %>
