<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @stored_training.name %>
</p>


<%= link_to 'Edit', edit_stored_training_path(@stored_training) %> |
<%= link_to 'Back', stored_trainings_path %>
